/*middle-650:320*/
.left_650 {float:left;width:650px;}
.left_650_column {float:left;width:649px;padding:0 0;border-left:1px #ccc solid;border-bottom:1px #bbb solid;background-color:#fff;}
.left_650_c_title {float:left;width:619px;padding:10px 15px 10px 15px;font-size:18px;color:#fff;line-height:24px;text-align:left; background-color:#a6a6a6;}
.left_650_c_content {float:left;width:619px;padding:0 15px;}
.left_650_c_content_b {float:left;width:619px;padding:0 15px; border-top:1px solid #e9e9e9;}
.left_650_c_c_a {float:left;width:619px;padding:15px 0 20px 0;text-align:left;border-bottom:1px #efefef solid;}
.left_650_c_c_b {float: left;width: 589px;text-align: left;border-bottom: 1px #ddd dashed;padding-bottom: 10px;padding-left: 25px;padding-right: 0;padding-top: 10px;background-image: url(../imgs/icon/icon_stickied.png);background-position: left center;background-repeat: no-repeat;}
.left_650_c_c_a_photo {float:left;width:90px;padding:0 15px 0 0;}
.left_650_c_c_a_photo img{max-width:90px;max-height:90px;}
.left_650_c_c_a_right {float:left;width:514px;}
.left_650_c_c_a_right .title {float:left;width:514px;font-size:16px;color:#666;padding:0 0 6px 0;}
.left_650_c_c_a_right .title a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_a_right .title a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_a_right .title a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_a_right .title a:active {color: #4989b5;text-decoration: none;}
.left_650_c_c_a_right .titleb {float:left;width:484px;font-size:16px;font-weight:bold;color:#666;padding:6px 0 6px 30px;background-image: url(../imgs/icon/icon_stickied.png);background-repeat: no-repeat;background-position: left center;}
.left_650_c_c_a_right .titleb a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_a_right .titleb a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_a_right .titleb a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_a_right .titleb a:active {color: #4989b5;text-decoration: none;}

.left_650_c_c_a_right .words {float:left;width:514px;font-size:12px;line-height:16px;color:#999;padding:0 0 10px 0;}
.left_650_c_c_a_right .words p {padding:0 0 10px 0;}
.left_650_c_c_a_right .words ul {margin-left:25px;}
.left_650_c_c_a_right .words ol {margin-left:25px;}
.left_650_c_c_a_right .words span {color:#666;}
.left_650_c_c_a_right .words img {max-width:450px;max-height:450px;border:0;}
.left_650_c_c_a_right .wordsb {float:left;width:514px;font-size:12px;line-height:16px;color:#999;padding:0 0 10px 0;}
.left_650_c_c_a_right .wordsb span {color:#666;}
.left_650_c_c_a_right .wordsb img {max-width:450px;max-height:450px;border:0;}
.left_650_c_c_a_right .type {float:left;width:514px;font-size:12px;line-height:16px;color:#ccc;}
.left_650_c_c_a_right .type span {color:#7d3a2d;padding:0 20px 0 0;}

.left_650_c_c_a_right .source {float:left;width:514px;font-size:12px;line-height:16px;color:#999;}
.left_650_c_c_a_right .source span {padding:0 20px 0 0;}
.left_650_c_c_a_right .source a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_a_right .source a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_a_right .source a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_a_right .source a:active {color: #4989b5;text-decoration: none;}

.left_650_c_c_a_right .profile {float:left;width:514px;padding:6px 0 15px 0;}
.left_650_c_c_a_right .profile .photo {float:left;width:70px;padding:0 10px 0 0;}
.left_650_c_c_a_right .profile .photo img {width:70px;}
.left_650_c_c_a_right .profile .intro {float:left;width:430px;}
.left_650_c_c_a_right .profile .intro .intro_name {float:left;width:430px;font-size:12px;font-weight:bold;color:#666;padding:0 0 3px 0;}
.left_650_c_c_a_right .profile .intro .intro_name a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_a_right .profile .intro .intro_name a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_a_right .profile .intro .intro_name a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_a_right .profile .intro .intro_name a:active {color: #4989b5;text-decoration: none;}
.left_650_c_c_a_right .profile .intro .intro_detail {float:left;width:430px;font-size:12px;line-height:14px;color:#999;padding:0 0 3px 0;}
.left_650_c_c_a_right .profile .intro .intro_option {float:left;width:430px;font-size:12px;line-height:14px;color:#999;font-weight:normal;}
.left_650_c_c_a_right .profile .intro .intro_option a:link {color:#5b711c; text-decoration:none;}
.left_650_c_c_a_right .profile .intro .intro_option a:visited {color:#5b711c;text-decoration:none;}
.left_650_c_c_a_right .profile .intro .intro_option a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c_c_a_right .profile .intro .intro_option a:active {color: #5b711c;text-decoration: none;}


.left_650_column2 {float:left;width:649px;border-left:1px #ccc solid;border-bottom:1px #bbb solid;background-color:#fff;text-align:left; }
.left_650_c_title_black {float:left;width:629px;padding:0 0 0 20px;font-size:16px;line-height:36px;color:#fff;background-color:#a6a6a6;}
.left_650_c_title_black_advanced {float:left;width:629px;padding:0 0 0 20px;font-size:16px;line-height:36px;color:#fff;background-color:#a6a6a6; cursor:pointer;}
.left_650_c_title_black_advanced span {float:right;padding:12px 10px 0 0;}
.left_650_navi_all {float:left;width:649px;height:52px;}
.left_650_navi_underline {float:left;width:649px;height:52px;border-bottom:1px #ddd solid;}
.left_650_navi {position:absolute;margin-top:0;z-index:999;width:649px;padding:20px 0 0 0;}
.left_650_navi_space {float:left;width:6px;height:34px;}
.left_650_navi_select {float:left;z-index:999;color: #4989b5;background-image: url(../imgs/left_650_navi_selectbg.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.left_650_navi_select2 {float:left;z-index:999;color: #999;cursor:pointer;}
.left_650_navi_select2:hover {background-image: url(../imgs/left_650_navi_selectbg.gif);background-repeat: repeat-x;background-position: top;}
.left_650_n_s_main {float:left;height:26px;padding:6px 7px 0 7px;border-top:1px #ddd solid;}
.left_650_n_s_main span {height:10px;padding:1px 3px;color:#8b451b;font-size:10px;background-color:#f0ca93;border:1px #c9a97a solid;}
.left_650_n_s_space {float:left;height:33px;width:3px;}

.left_650_navi2 {float:left;width:629px;padding:15px 0 0 20px;text-align:left;}
.left_650_navi2 a {padding:0 30px 0 0;font-size:14px;}
.left_650_navi2 a:link {color:#4989b5; text-decoration:none;}
.left_650_navi2 a:visited {color:#4989b5;text-decoration:none;}
.left_650_navi2 a:hover {color: #4989b5;text-decoration:underline;}
.left_650_navi2 a:active {color: #4989b5;text-decoration: none;}
.left_650_title {float:left;width:629px;padding:15px 0 15px 20px;text-align:left;}
.left_650_title_photo {float:left;width:160px;}
.left_650_title_photo img {max-width:160px;max-height:160px;align:center;}
.left_650_title_space {float:left;width:43px;}
.left_650_title_words {float:left;width:460px;}
.left_650_title_blacktitle {float:left;width:94%;padding:0 0 0 20px;text-align:left;}
.left_650_title_blacktitle li {float:left;width:100%;font-size:11px;}
.left_650_title_blacktitle .title {float:left;width:94%;padding:8px 0 15px 0;font-size:24px;line-height:24px;color:#666;font-weight:bold;}
.left_650_title_blacktitle .title_edit {float:left;padding:0;font-size:12px;line-height:24px;color:#666;font-weight:bold;}
.left_650_title_blacktitle .intro {float:left;padding:0;font-size:12px;color:#999;}
.left_650_title_blacktitle .intro span {color:#8b451b;}
.left_650_title_blacktitle .intro a:link {color:#5b711c; text-decoration:none;}
.left_650_title_blacktitle .intro a:visited {color:#5b711c;text-decoration:none;}
.left_650_title_blacktitle .intro a:hover {color: #5b711c;text-decoration:underline;}
.left_650_title_blacktitle .intro a:active {color: #5b711c;text-decoration: none;}
.left_650_title_blacktitle .option {float:left;width:350px;padding:0;font-size:12px;color:#999;line-height:24px;border-bottom:1px #ddd dashed;}
.left_650_title_blacktitle .option a:link {color:#4e682b; text-decoration:none;}
.left_650_title_blacktitle .option a:visited {color:#4e682b;text-decoration:none;}
.left_650_title_blacktitle .option a:hover {color: #4e682b;text-decoration:underline;}
.left_650_title_blacktitle .option a:active {color: #4e682b;text-decoration: none;}

.left_650_c2_content {float:left;width:649px;padding:3px 0 0 0;text-align:left;border-top:1px #efefef solid;}
.left_650_c2_c_title {float:left;width:620px;height:24px;padding:0 0 0 20px;font-weight:bold;border-bottom:1px dashed #ccc;line-height:24px;color:#999;background-color:#fff;}
.left_650_c2_c_title span {float:left;width:25px;padding:3px 0 0 0;}
.left_650_c2_c_option {float:left;width:629px;height:30px;padding:0 0 0 20px;line-height:30px;color:#999;background-color:#f4f4f4;}
.left_650_c2_c_option .select {float:left;padding:0 10px;background-color:#ccc;cursor:pointer;color:#666;background-image: url(../imgs/icon/white_arrow_bottom.png);background-repeat: no-repeat;	background-position: center bottom;}
.left_650_c2_c_option .noselect {float:left; padding:0 10px;cursor:pointer;}
.left_650_c2_c_option2 {float:left;width:629px;height:35px;padding:0 0 0 20px;line-height:35px;color:#666;border-bottom:1px #efefef solid;}
.left_650_c2_c_option2 span {padding:0 10px;color:#333;}
.left_650_c2_c_option2 a {padding:0 10px 0 5px;}
.left_650_c2_c_option2 a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_c_option2 a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_c_option2 a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_c_option2 a:active {color: #4989b5;text-decoration: none;}
.left_650_c2_c_option2_s1 {float:left;height:25px;padding:5px 0 5px 0;margin:0 20px 0 0;line-height:25px;color:#666;background-image: url(../imgs/icon/black_arrow_bottom.png);background-repeat: no-repeat;	background-position: center bottom;}
.left_650_c2_c_option2_s2 {float:left;height:25px;padding:5px 0 5px 0;line-height:25px;color:#4989b5; cursor:pointer;margin:0 20px 0 0;}
.left_650_c2_c_option2_s2:hover {color:#666;background-image: url(../imgs/icon/black_arrow_bottom.png);background-repeat: no-repeat;background-position: center bottom;}
.left_650_c2_c_option3 {float:left;width:629px;height:30px;padding:0 0 0 20px;text-align:left;line-height:30px;color:#666;background-color:#efefef;}
.left_650_c2_c_option3 .div_select {float:left;padding:5px 10px 0 0;}
.left_650_c2_c_option3 .div_btn {float:left;padding:3px 10px 0 0;}
.left_650_c2_c_option3 span {float:right;font-weight:bold;padding:0 20px 0 0;}
.left_650_c2_c_option3 span a:link {color:#5b711c; text-decoration:none;}
.left_650_c2_c_option3 span a:visited {color:#5b711c;text-decoration:none;}
.left_650_c2_c_option3 span a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c2_c_option3 span a:active {color: #5b711c;text-decoration: none;}
.left_650_c2_c_option4 {float:left;width:609px;height:30px;background-color:#efefef;}
.left_650_c2_c_option4 .select {float:left;padding:5px 0 0 5px;width:25px;}
.left_650_c2_c_option4 .btn {float:left;padding:3px 5px 0 0;}
.left_650_c2_c_option4 .btn2 {float:right;padding:3px 2px 0 0;}
.left_650_c2_c_option4 span {float:right;font-weight:bold;padding:0 20px 0 0;line-height:30px;}

.left_650_c2_c_index {float:left;width:619px;padding:5px 10px 0 20px;color:#999;line-height:30px;border-bottom:1px #efefef solid;}
.left_650_c2_c_index a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_c_index a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_c_index a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_c_index a:active {color: #4989b5;text-decoration: none;}
.left_650_c2_c_index span {float:left;padding:0 20px 0 0;}

.left_650_c2_c_detail {float:left;width:609px;padding:10px 20px 20px 20px;color:#999;}
.left_650_c2_c_detail li {float:left;width:609px;padding:0 0 5px 0;}
.left_650_c2_c_detail li span{color:#993300;font-weight:bold;}
.left_650_c2_c_detail .div90 {float:left;width:90px;}
.left_650_c2_c_detail .div200 {float:left;width:200px;}
.left_650_c2_c_detail .div500 {float:left;width:500px;}
.left_650_c2_c_detail .div500 span {color:#993300;font-weight:bold;}
.left_650_c2_c_detail_video {float:left;width:609px;padding:0 0 5px 0;}
.left_650_c2_c_detail_video iframe {float:left;max-width:500px;max-height:500px;}

.left_650_c2_c_detail .certificate {float:left;width:609px;padding:0 0 5px 0;color:#666;}
.left_650_c2_c_detail .certificate img {max-width:300px;max-height:300px;}
.left_650_c2_c_detail .certificate span {padding:0 0 0 5px;color:#999;}

.left_650_c2_c_detail .filetable {float:left;padding:3px 3px 3px 6px;border:1px #ccc solid;color:#333;font-size:11px;}
.left_650_c2_c_detail .filetable span {float:right;padding:4px 2px 0 15px;}

.left_650_c2_c_detail .notice {float:left;width:569px;padding:20px;background-color:#f4f4f4;}
.left_650_c2_c_detail .notice .notice_span {float:right;width:545px;color: #7d3a2d; background-color:#f4f4f4;line-height:12px;}
.left_650_c2_c_detail .notice a {font-weight:bold;font-size:11px;}
.left_650_c2_c_detail .notice a:link {color:#7d3a2d; text-decoration:underline;}
.left_650_c2_c_detail .notice a:visited {color:#7d3a2d;text-decoration:underline;}
.left_650_c2_c_detail .notice a:hover {color: #7d3a2d;text-decoration:none;}
.left_650_c2_c_detail .notice a:active {color: #7d3a2d;text-decoration: underline;}

.left_650_c2_c_detail .notice2 {float:left;width:609px;line-height:24px;color:#7d3a2d;}
.left_650_c2_c_detail .notice2 a {font-weight:bold;font-size:11px;}
.left_650_c2_c_detail .notice2 a:link {color:#4989b5; text-decoration:underline;}
.left_650_c2_c_detail .notice2 a:visited {color:#4989b5;text-decoration:underline;}
.left_650_c2_c_detail .notice2 a:hover {color: #4989b5;text-decoration:none;}
.left_650_c2_c_detail .notice2 a:active {color: #4989b5;text-decoration: underline;}

.left_650_c2_c_detail .blacktitle600 {line-height:24px;color:#666;font-weight:bold;}
.div_border2px_500 {float:left;border:2px solid #999;width:500px;line-height:20px;padding:5px;}

.div_border_btn {float:left;width:60px;line-height:20px;padding:0 0 0 20px;}

.left_650_c2_c_detail .title {float:left;width:120px;line-height:24px;color:#999;}
.left_650_c2_c_detail .detail {float:left;width:480px;line-height:24px;color:#666;}
.left_650_c2_c_detail .detail ul li {text-align:left;}
.left_650_c2_c_detail .detail a {padding:0 20px 0 0;}
.left_650_c2_c_detail .detail span {color: #5b711c;}
.left_650_c2_c_detail .detail span a:link {color:#5b711c; text-decoration:none;}
.left_650_c2_c_detail .detail span a:visited {color:#5b711c;text-decoration:none;}
.left_650_c2_c_detail .detail span a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c2_c_detail .detail span a:active {color: #5b711c;text-decoration: none;}
.left_650_c2_c_detail .detail3x {float:left;width:180px;padding:0;margin-right:12px;line-height:18px;color:#999; background:#f4f4f4;}
.left_650_c2_c_detail .detailadd {float:left;width:30px;padding:3px 0 0 0;}
.left_650_c2_c_detail .detailadd a {float:left;padding:0 0 0 0;cursor:pointer;}
.left_650_c2_c_detail .number {float:left;width:40px;line-height:24px;color:#999;}
.left_650_c2_c_detail .detail2 {float:left;width:560px;line-height:24px;color:#999;}
.left_650_c2_c_detail .title3 {float:left;width:120px;line-height:24px;color:#666;}
.left_650_c2_c_detail .detail3 {float:left;width:480px;line-height:24px;color:#999;}
.left_650_c2_c_detail .detail3 span {color: #5b711c;padding:0 0 0 10px;}
.left_650_c2_c_detail .detail3 span a:link {color:#5b711c; text-decoration:none;}
.left_650_c2_c_detail .detail3 span a:visited {color:#5b711c;text-decoration:none;}
.left_650_c2_c_detail .detail3 span a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c2_c_detail .detail3 span a:active {color: #5b711c;text-decoration: none;}
.left_650_c2_c_detail .title4 {float:left;width:310px;line-height:24px;color:#666;padding:0 10px 0 0;}
.left_650_c2_c_detail .detail4 {float:left;width:140px;line-height:24px;color:#999;}
.left_650_c2_c_detail .detail4 span {color: #7d3a2d;}
.left_650_c2_c_detail .detail5 {float:left;width:600px;line-height:30px;color:#999;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .detail5 span {float:left;width:25px;padding:5px 0 0 0;}
.left_650_c2_c_detail .title600 {float:left;width:570px;line-height:24px;color:#4989b5;padding:0 10px 0 0;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .detail410 {float:left;width:410px;line-height:24px;color:#666;padding:0 10px 0 0;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .detail95 {float:left;width:95px;line-height:24px;color:#999;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .detail60 {float:left;width:65px;line-height:24px;color:#999;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .title500 {float:left;width:480px;line-height:24px;color:#666;font-weight:bold;padding:0 10px 0 0;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .title500 span {color:#999;font-weight:normal;}
.left_650_c2_c_detail .detail100 {float:left;width:100px;line-height:24px;color:#666;padding:0 10px 0 0;text-align:right;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .title600_weight {float:left;width:590px;line-height:24px;color:#666;font-weight:bold;padding:0 10px 0 0;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail .title600_weight span {color:#999;font-weight:normal;}

.left_650_c2_c_detail .title600_black {float:left;width:590px;line-height:24px;color:#666;font-weight:bold;padding:0 10px 0 0;}

.left_650_c2_c_detail .star {float:left;width:500px;}
.left_650_c2_c_detail .star span {float:left;padding:0 10px 0 0;}


.left_650_c2_c_detail_order {float:left;width:605px;padding:10px 0;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail_order .detail {float:left;width:400px;line-height:18px;color:#666;}
.left_650_c2_c_detail_order .detail span {font-weight:bold;color:#666;}
.left_650_c2_c_detail_order .status {float:left;width:190px;padding:0 10px 0 0;line-height:18px;text-align:right;color:#999;}

.left_650_c2_c_detail_list {float:left;width:605px;padding:20px 0 10px 0;border-bottom:1px #ddd dashed;}
.left_650_c2_c_detail_list .select {float:left;width:25px;padding:35px 0 0 5px;text-align:left;}
.left_650_c2_c_detail_list .photo {float:left;width:90px;padding:0 10px 0 0;}
.left_650_c2_c_detail_list .photo img {max-width:90px;max-height:90px;}
.left_650_c2_c_detail_list .detail {float:left;width:475px;}
.left_650_c2_c_detail_list .detail_585 {float:left;width:575px;}

.left_650_c2_c_detail_list .title {float:left;width:100%;font-size:16px;color:#666;}
.left_650_c2_c_detail_list .title span {padding:0 0 0 10px;}
.left_650_c2_c_detail_list .title span img {width:20px;}
.left_650_c2_c_detail_list .title a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_c_detail_list .title a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_c_detail_list .title a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_c_detail_list .title a:active {color: #4989b5;text-decoration: none;}

.left_650_c2_c_detail_list .title2 {float:left;width:100%;font-size:16px;line-height:18px;color:#666;}
.left_650_c2_c_detail_list .title2 a {padding:0 3px 0 0;}
.left_650_c2_c_detail_list .title2 a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_c_detail_list .title2 a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_c_detail_list .title2 a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_c_detail_list .title2 a:active {color: #4989b5;text-decoration: none;}

.left_650_c2_c_detail_list .source {float:left;width:100%;font-size:12px;color:#999;line-height:14px;padding:0 0 3px 0;}
.left_650_c2_c_detail_list .source span {padding:0 10px 0 0;color:#666;}
.left_650_c2_c_detail_list .source a {padding:0 3px 0 0;color:#4989b5;}
.left_650_c2_c_detail_list .source span a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_c_detail_list .source span a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_c_detail_list .source span a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_c_detail_list .source span a:active {color: #4989b5;text-decoration: none;}

.left_650_c2_c_detail_list .btn {float:left;width:100%;font-size:12px;line-height:16px;color:#999;}
.left_650_c2_c_detail_list .btn a {padding:0 20px 0 3px;font-weight:bold;}
.left_650_c2_c_detail_list .btn a:link {color:#5b711c; text-decoration:none;}
.left_650_c2_c_detail_list .btn a:visited {color:#5b711c;text-decoration:none;}
.left_650_c2_c_detail_list .btn a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c2_c_detail_list .btn a:active {color: #5b711c;text-decoration: none;}

.left_650_c2_c_detail_list .content {float:left;width:100%;font-size:12px;line-height:15px;color:#999;}
.left_650_c2_c_detail_list .content span {color:#666;}
.left_650_c2_c_detail_list .content img {max-width:450px;max-height:450px;border:0;}

.left_650_c2_c_detail_list .date {float:left;width:100%;font-size:11px;color:#999;line-height:13px;}
.left_650_c2_c_detail_list .date span {padding: 0 15px 0 0;color:#7d3a2d;}
.left_650_c2_c_detail_list .date span a {padding: 0;color:#4989b5;}
.left_650_c2_c_detail_list .date span a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_c_detail_list .date span a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_c_detail_list .date span a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_c_detail_list .date span a:active {color: #4989b5;text-decoration: none;}

.left_650_c2_c_300a {float:left;width:300px;padding:0 9px 0 0;}
.left_650_c2_c_300b {float:left;width:300px;}
.left_650_c2_c_300_title {float:left;width:240px;font-size:12px;color:#666;font-weight:bold;line-height:30px;}
.left_650_c2_c_300_list {float:left;width:265px;height:300px;padding:5px 25px 5px 5px;border:1px solid #efefef; overflow-y:scroll}
.left_650_c2_c_300_list li {float:left;width:260px;color:#4989b5;}
.left_650_c2_c_300_list li span {color:#999;}
.left_650_c2_c_300_section {float:left;width:260px;padding:4px;cursor:pointer;}
.left_650_c2_c_300_section:hover { background-color:#f4f4f4;}
.left_650_c2_c_300_section .photo {float:left;width:60px;}
.left_650_c2_c_300_section .photo img {max-width:50px;max-height:50px;}
.left_650_c2_c_300_section .name {float:left;width:200px;font-weight:bold;color: #4989b5;line-height:18px;}


.Certificate_table {border:1px #ccc solid;}
.Certificate_table_title {color:#fff;background-color:#999;line-height:30px;text-align:center;padding:0 2px;}
.Certificate_table_td {color:#999;line-height:24px;text-align:center;background-color:#efefef;padding:5px 2px;}
.Certificate_table_td img {width:140px;}



.left_650_c2_c_detail2 {float:left;width:629px;padding:10px 0 10px 20px;}
.left_650_c2_c_detail2 .div300 {float:left;width:295px;padding:0 15px 0 0;}
.left_650_c2_c_detail2 .div300 li {float:left;width:295px;color:#999;line-height:30px;border-bottom:1px #ccc dashed;}
.left_650_c2_c_detail2 .div300 span {float:right;color:#999;line-height:30px;}
.left_650_c2_c_detail2 .div300 .title {color:#4989b5;line-height:30px;}


.left_650_c2_a {float:left;width:649px;text-align:left;}
.left_650_c2_a_left {float:left;width:128px;}
.left_650_c2_a_l_space {float:left;width:128px;height:10px;}
.left_650_c2_a_l_space2 {float:left;width:128px;height:4px;}
.left_650_c2_a_l_select {float:left;width:118px;padding:10px 0 10px 10px;color:#333;background-color:#efefef;background-image: url(../imgs/left_650_c2_a_leftbg.png);background-repeat: no-repeat;background-position: right center;cursor:pointer;}
.left_650_c2_a_l_not {float:left;width:118px;padding:10px 0 10px 10px;background-image: url(../imgs/left_650_c2_a_leftbg.png);background-repeat: no-repeat;background-position: right center;cursor:pointer;}
.left_650_c2_a_l_not:hover {background-color:#efefef;}
.left_650_c2_a_right {float:left;width:510px;padding:0 0 0 10px;border-left:1px #efefef solid;}
.left_650_c2_a_r_option {float:left;width:500px;padding:0 10px 0 0;}
.left_650_c2_a_r_o_l {float:left;padding:2px 0 0 10px;color:#999;}
.left_650_c2_a_r_o_l span {color:#4989b5;padding:0 3px;}
.left_650_c2_a_r_o_l a {color:#999;padding:0 3px;}
.left_650_c2_a_r_o_l a:link {color:#999; text-decoration:underline;}
.left_650_c2_a_r_o_l a:visited {color:#999;text-decoration:underline;}
.left_650_c2_a_r_o_l a:hover {color: #999;text-decoration:none;}
.left_650_c2_a_r_o_l a:active {color: #999;text-decoration: underline;}
.left_650_c2_a_r_o_r {float:right;padding:0  0 5px 0;}
.left_650_c2_a_r_option2 {float:left;width:500px;height:32px;padding:0 10px 0 0; background-color:#efefef;}
.left_650_c2_a_r_o2_l {float:left;padding:6px 0 0 5px;}
.left_650_c2_a_r_o2_l2 {float:left;padding:4px 0 0 5px;}
.left_650_c2_a_r_o2_l3 {float:left;padding:0 0 0 10px;line-height:30px;}
.left_650_c2_a_r_o2_r {float:right;padding:8px 10px 0 0;}
.left_650_c2_a_r_option3 {float:left;width:500px;height:32px;padding:0 10px 0 0; background-color:#efefef;cursor:pointer;}
.left_650_c2_a_r_o3_l {float:left;padding:6px 0 0 10px;color:#333;font-size:14px;}
.left_650_c2_a_r_o3_r {float:right;height:32px;width:60px;background-image: url(../imgs/left_650_c2_a_leftbg.png);background-repeat: no-repeat;background-position: right center;}

.left_650_c2_a_r_list {float:left;width:500px;padding:0 10px 0 0;}
.left_650_c2_a_r_list li {float:left;width:500px;}
.left_650_c2_a_r_list .div70 {float:left;width:65px;padding:0 0 5px 5px;line-height:24px;}
.left_650_c2_a_r_list .div180 {float:left;width:170px;padding:0 10px 5px 0;color:#999;}
.left_650_c2_a_r_list .div430 {float:left;width:420px;padding:0 10px 5px 0;color:#999;line-height:24px;}
.left_650_c2_a_r_list .div430 span {color:#993300;font-weight:bold;}
.left_650_c2_a_r_list .div430b {float:left;width:420px;padding:0 10px 5px 70px;color:#999;}
.left_650_c2_a_r_list .div430b span {color:#7d3a2d;}

.left_650_c2_a_r_list_a {float:left;width:500px;padding:15px 0 10px 0;border-bottom:1px #ddd dashed;}
.left_650_c2_a_r_list_a .select {float:left;padding:24px 0 0 5px;}
.left_650_c2_a_r_list_a .photo {float:left;width:60px;padding:0 10px 0 5px;}
.left_650_c2_a_r_list_a .photo img {width:60px;}

.left_650_c2_a_r_list_a .detail {float:left;width:390px;}
.left_650_c2_a_r_list_a .detail .title {float:left;width:390px;font-size:14px;}
.left_650_c2_a_r_list_a .detail .title a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_a_r_list_a .detail .title a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_a_r_list_a .detail .title a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_a_r_list_a .detail .title a:active {color: #4989b5;text-decoration: none;}
.left_650_c2_a_r_list_a .detail .title_unread {float:left;width:390px;font-weight:bold;font-size:14px;}
.left_650_c2_a_r_list_a .detail .title_unread a:link {color:#145f93; text-decoration:underline;}
.left_650_c2_a_r_list_a .detail .title_unread a:visited {color:#145f93;text-decoration:underline;}
.left_650_c2_a_r_list_a .detail .title_unread a:hover {color: #145f93;text-decoration:none;}
.left_650_c2_a_r_list_a .detail .title_unread a:active {color: #145f93;text-decoration: underline;}

.left_650_c2_a_r_list_a .detail .content {float:left;width:390px;color:#999;padding:0 0 3px 0;line-height:16px;}

.left_650_c2_a_r_list_a .detail .source {float:left;width:390px;color:#999;padding:0 0 3px 0;}
.left_650_c2_a_r_list_a .detail .source span {padding:0 15px 0 0;}
.left_650_c2_a_r_list_a .detail .source a {padding:0 5px 0 0;color:#4989b5;}
.left_650_c2_a_r_list_a .detail .source a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_a_r_list_a .detail .source a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_a_r_list_a .detail .source a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_a_r_list_a .detail .source a:active {color: #4989b5;text-decoration: none;}

.left_650_c2_a_r_list_a .detail .btn {float:left;width:390px;}
.left_650_c2_a_r_list_a .detail .btn a {padding:0 20px 0 3px;color:#5b711c;font-weight:bold;}
.left_650_c2_a_r_list_a .detail .btn a:link {color:#5b711c; text-decoration:none;}
.left_650_c2_a_r_list_a .detail .btn a:visited {color:#5b711c;text-decoration:none;}
.left_650_c2_a_r_list_a .detail .btn a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c2_a_r_list_a .detail .btn a:active {color: #5b711c;text-decoration: none;}

.left_650_c2_a_r_list_a .div390 {float:left;width:390px;}
.left_650_c2_a_r_list_a .div80 {float:left;width:80px;}

.left_650_c2_a_r_list_b {float:left;width:460px;padding:10px 0 10px 40px;}
.left_650_c2_a_r_list_b .reply {float:left;width:460px;padding:10px 0;border-top:1px #ccc dashed;}
.left_650_c2_a_r_list_b .reply .content {float:left;width:390px;padding:0px;}
.left_650_c2_a_r_list_b .reply .btn {float:left;width:70px;padding:0px;}
.left_650_c2_a_r_list_b .reply .photo {float:left;width:70px;padding:0px;}
.left_650_c2_a_r_list_b .reply .photo img {width:60px;}
.left_650_c2_a_r_list_b .reply .words {float:left;width:390px;padding:0px;line-height:16px;color:#666;}
.left_650_c2_a_r_list_b .reply .words span {color:#999;}
.left_650_c2_a_r_list_b .reply .name {float:left;width:390px;padding:0px;line-height:16px;color:#4989b5;}
.left_650_c2_a_r_list_b .reply .name a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_a_r_list_b .reply .name a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_a_r_list_b .reply .name a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_a_r_list_b .reply .name a:active {color: #4989b5;text-decoration: none;}


.left_650_c2_a_r_l_content {float:left;width:500px;padding:5px 0;border-bottom:1px #ddd dashed;}
.left_650_c2_a_r_l_source {float:left;width:500px;padding:10px 0 0 0;line-height:16px;}
.left_650_c2_a_r_l_source a:link {color:#4989b5; text-decoration:none;}
.left_650_c2_a_r_l_source a:visited {color:#4989b5;text-decoration:none;}
.left_650_c2_a_r_l_source a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c2_a_r_l_source a:active {color: #4989b5;text-decoration: none;}
.left_650_c2_a_r_l_time {float:left;width:500px;color:#999;}
.left_650_c2_a_r_l_word {float:left;width:500px;padding:10px 0;line-height:16px;}

.left_650_c2_a_r_page {float:left;width:500px;padding:0 10px 0 0;}
.left_650_c2_a_r_page div {float:left;padding:0 20px 0 0;line-height:24px;}
.left_650_c2_a_r_page div a {padding:0 5px;}
.left_650_c2_a_r_page .current {color:#999;}
.left_650_c2_a_r_page .current:link {color:#999; text-decoration:none;}
.left_650_c2_a_r_page .current:visited {color:#999;text-decoration:none;}
.left_650_c2_a_r_page .current:hover {color: #999;text-decoration:underline;}
.left_650_c2_a_r_page .current:active {color: #999;text-decoration: none;}


.right_320 {float:right;width:279px;padding:0 20px;border-left:1px #ccc solid;border-bottom:1px #bbb solid;background-color:#fff;}
.right_320_column {float:left;width:279px;text-align:left;}
.right_320_c_279 {float:left;width:279px;}
.right_320_c_279_img {float:left;width:30px;text-align:left;}
.right_320_c_279_word {float:left;width:245px;line-height:12px;padding:5px 0 0 0;}
.right_320_c_279_word a:link {color:#4989b5; text-decoration:none;}
.right_320_c_279_word a:visited {color:#4989b5;text-decoration:none;}
.right_320_c_279_word a:hover {color: #4989b5;text-decoration:underline;}
.right_320_c_279_word a:active {color: #4989b5;text-decoration: none;}
.right_320_c_title {float:left;width:279px;padding:15px 0 10px 0;font-size:14px;text-transform:uppercase;color:#333;line-height:18px;}
.right_320_c_titlered {float:left;width:279px;padding:15px 0 10px 0;font-size:12px;text-transform:uppercase;color:#993300;line-height:18px;}
.right_320_c_titlered a:link {color:#993300; text-decoration:underline;}
.right_320_c_titlered a:visited {color:#993300;text-decoration:underline;}
.right_320_c_titlered a:hover {color: #993300;text-decoration:none;}
.right_320_c_titlered a:active {color: #993300;text-decoration: underline;}
.right_320_c_content {float:left;width:279px;font-size:12px;color:#999;line-height:18px;}
.right_320_c_content_title {float:left;width:279px;font-size:12px;color:#4989b5;line-height:30px;}
.right_320_c_content_word {float:left;width:279px;}
.right_320_c_more {float:left;width:279px;padding:15px 0 20px 0;text-align:right;font-size:12px;color:#4989b5;line-height:12px;}
.right_320_c_more a:link {color:#4989b5; text-decoration:none;}
.right_320_c_more a:visited {color:#4989b5;text-decoration:none;}
.right_320_c_more a:hover {color: #4989b5;text-decoration:underline;}
.right_320_c_more a:active {color: #4989b5;text-decoration: none;}
.right_320_c_line {float:left;width:279px;height:1px; background-color:#efefef;}

.right_320_c_c_a {float:left;width:279px;padding:10px 0 0 0;}
.right_320_c_c_a .photo {float:left;width:70px;text-align:left;}
.right_320_c_c_a .photo img {width:60px;}
.right_320_c_c_a .words {float:left;width:209px;text-align:left;}
.right_320_c_c_a .title {color:#4989b5;line-height:18px;font-size:12px;font-weight:bold;}
.right_320_c_c_a .title a:link {color:#4989b5; text-decoration:none;}
.right_320_c_c_a .title a:visited {color:#4989b5;text-decoration:none;}
.right_320_c_c_a .title a:hover {color: #4989b5;text-decoration:underline;}
.right_320_c_c_a .title a:active {color: #4989b5;text-decoration: none;}
.right_320_c_c_a .intro {color:#999;line-height:16px;}
.right_320_c_c_a .btn {color:#5b711c;line-height:20px;font-weight:bold;}
.right_320_c_c_a .btn a:link {color:#5b711c; text-decoration:none;}
.right_320_c_c_a .btn a:visited {color:#5b711c;text-decoration:none;}
.right_320_c_c_a .btn a:hover {color: #5b711c;text-decoration:underline;}
.right_320_c_c_a .btn a:active {color: #5b711c;text-decoration: none;}
.right_320_c_c_b {float:left;width:277px;border:1px #fff solid;cursor:pointer;background-image: url(../imgs/home_right_320_viewed_bg2.gif);background-repeat: no-repeat;background-position: right center;}
.right_320_c_c_b:hover {width:277px;border:1px #ddd solid;background-image: url(../imgs/home_right_320_viewed_bg1.gif);background-repeat: no-repeat;background-repeat: no-repeat;background-position: right center;}
.right_320_c_c_b .number {float:left;padding:5px 10px 5px 5px;font-size:28px;line-height:28px;color:#4989b5;}
.right_320_c_c_b .words {width:auto;padding:5px 20px 5px 0;line-height:14px;color:#4989b5;font-size:12px;}
.right_320_c_c_b .words span {color:#333;line-height:14px;}



.left_650_c_c_left179 {float:left;width:179px;height:560px;border-right:1px #e1e1e1 solid;}
.left_650_c_c_l179_title {float:left;width:169px;height:30px;padding:0 0 0 10px;line-height:30px;background-color:#eee;color:#666;}
.left_650_c_c_l179_spaces {float:left;width:159px;height:8px;}
.left_650_c_c_l179_words {float:left;width:169px;padding:0 0 0 10px;line-height:30px;color:#666;}
.left_650_c_c_l179_words span {color:#ccc;}
.left_650_c_c_l179_select {float:left;width:169px;padding:0 0 0 10px;line-height:24px;color:#4989b5;cursor:pointer;background-image: url(../imgs/left_650_c2_a_leftbg.png);	background-repeat: no-repeat;background-position: right center;background-color:#eee;}
.left_650_c_c_l179_select span {color:#999; }
.left_650_c_c_l179_noselect {float:left;width:169px;padding:0 0 0 10px;line-height:24px;color:#4989b5;cursor:pointer;background-image: url(../imgs/left_650_c2_a_leftbg.png);	background-repeat: no-repeat;background-position: right center;}
.left_650_c_c_l179_noselect span {color:#999; }
.left_650_c_c_l179_noselect:hover {background-color:#eee;}
.left_650_c_c_l179_alphabetical {float:left;width:169px;height:30px;padding:0 0 0 10px;}
.left_650_c_c_l179_alphabetical .nodata {color: #aaa;border:1px #ccc solid; background-color:#efefef;}
.left_650_c_c_l179_alphabetical .nodata:hover {color: #aaa;border:1px #ccc solid; background-color:#efefef;}
.left_650_c_c_l179_alphabetical .select {color: #fff;border:1px #333 solid; background-color:#4989b5;}
.left_650_c_c_l179_alphabetical .select:hover {color: #fff;border:1px #333 solid; background-color:#4989b5;}
.left_650_c_c_l179_alphabetical span {float:left;padding:0 2px 2px 0;}
.left_650_c_c_l179_alphabetical a {float:left;display:block;width:18px;height:18px;color:#666; text-decoration:none;line-height:18px;border:1px #aaa solid; background-color:#eee;text-align:center;cursor:pointer;}
.left_650_c_c_l179_alphabetical a:hover {color: #333;border:1px #999 solid; background-color:#ccc;}

.left_650_c_c_left470 {float:left;width:469px;margin:0 0 0 -1px;border-left:1px #e1e1e1 solid;}
.left_650_c_c_l470_title {float:left;width:459px;height:30px;padding:0 0 0 10px;line-height:30px;background-color:#eee;color:#666;}
.left_650_c_c_l470_title span {color:#999;}
.left_650_c_c_l470_title_b {float:left;width:459px;height:30px;padding:0 0 0 10px;line-height:30px;background-color:#999;color:#fff;}
.left_650_c_c_l470_title_b span {float:right;padding:0 10px 0 0;}

.left_650_c_c_l470_send {float:left;width:459px;padding:10px 0 20px 10px;}
.left_650_c_c_l470_send li {float:left;width:459px;padding:3px 0 0 0;color:#999;}
.left_650_c_c_l470_send .div80 {float:left;width:75px;padding:0 5px 0 0;text-align:right;color:#666;}
.left_650_c_c_l470_send .div370 {float:left;width:370px;}
.left_650_c_c_l470_send .div370b {float:left;width:370px;padding:0 0 0 80px;}
.left_650_c_c_l470_send .div370b span {color:#7d3a2d;}

.left_650_c_c_l470_list {float:left;width:459px;padding:10px 0 0 10px;}
.left_650_c_c_l470_l_option {float:left;width:459px;height:30px;background-color:#f4f4f4;}
.left_650_c_c_l470_l_option .select {float:left;width:25px;padding:5px 0 0 5px;}
.left_650_c_c_l470_l_option .btn {float:left;padding:3px 5px 0 0;}
.left_650_c_c_l470_l_option .right_number {float:right;padding:3px 20px 0 0;line-height:24px;}
.left_650_c_c_l470_l_unit {float:left;width:450px;padding:15px 0;border-bottom:1px #ccc dashed;}
.left_650_c_c_l470_l_unit .select {float:left;width:25px;padding:15px 0 0 5px;}
.left_650_c_c_l470_l_unit .photo {float:left;width:80px;}
.left_650_c_c_l470_l_unit .photo img{width:70px;}
.left_650_c_c_l470_l_unit .words {float:left;width:340px;}
.left_650_c_c_l470_l_unit .words .title {float:left;width:340px;font-size:14px;}
.left_650_c_c_l470_l_unit .words .title a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_l470_l_unit .words .title a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_l470_l_unit .words .title a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_l470_l_unit .words .title a:active {color: #4989b5;text-decoration: none;}
.left_650_c_c_l470_l_unit .words .intro {float:left;width:340px;font-size:12px;line-height:16px;color:#999;}
.left_650_c_c_l470_l_unit .words .reference {float:left;width:375px;font-size:12px;line-height:20px;color:#666;}
.left_650_c_c_l470_l_unit .words .reference span {width:auto;padding:0 10px 0 0;}
.left_650_c_c_l470_l_unit .words .reference a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_l470_l_unit .words .reference a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_l470_l_unit .words .reference a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_l470_l_unit .words .reference a:active {color: #4989b5;text-decoration: none;}
.left_650_c_c_l470_l_unit .words .btn {float:left;width:340px;font-size:12px;font-weight:bold;}
.left_650_c_c_l470_l_unit .words .btn a {padding:0 12px 0 3px;}
.left_650_c_c_l470_l_unit .words .btn a:link {color:#5b711c; text-decoration:none;}
.left_650_c_c_l470_l_unit .words .btn a:visited {color:#5b711c;text-decoration:none;}
.left_650_c_c_l470_l_unit .words .btn a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c_c_l470_l_unit .words .btn a:active {color: #5b711c;text-decoration: none;}


.left_650_c_c_l470_l_unit_s {float:left;width:430px;padding:5px;margin:5px 0 0 0;border:1px #eee solid;}
.left_650_c_c_l470_l_unit_s:hover { background-color:#f4f4f4;}
.left_650_c_c_l470_l_unit_s .photo {float:left;width:55px;}
.left_650_c_c_l470_l_unit_s .photo img{ max-width:50px; max-height:50px;}
.left_650_c_c_l470_l_unit_s .words {float:left;width:375px;}
.left_650_c_c_l470_l_unit_s .words .title {float:left;width:375px;font-size:12px;}
.left_650_c_c_l470_l_unit_s .words .title span {width:auto;padding:0 0 0 5px;}
.left_650_c_c_l470_l_unit_s .words .title a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_l470_l_unit_s .words .title a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_l470_l_unit_s .words .title a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_l470_l_unit_s .words .title a:active {color: #4989b5;text-decoration: none;}
.left_650_c_c_l470_l_unit_s .words .intro {float:left;width:375px;font-size:11px;line-height:12px;color:#999;}
.left_650_c_c_l470_l_unit_s .words .reference {float:left;width:375px;font-size:12px;line-height:20px;color:#666;}
.left_650_c_c_l470_l_unit_s .words .reference span {width:auto;padding:0 10px 0 0;}
.left_650_c_c_l470_l_unit_s .words .reference a:link {color:#4989b5; text-decoration:none;}
.left_650_c_c_l470_l_unit_s .words .reference a:visited {color:#4989b5;text-decoration:none;}
.left_650_c_c_l470_l_unit_s .words .reference a:hover {color: #4989b5;text-decoration:underline;}
.left_650_c_c_l470_l_unit_s .words .reference a:active {color: #4989b5;text-decoration: none;}
.left_650_c_c_l470_l_unit_s .btn {float:left;width:420px;font-size:12px;font-weight:bold;text-align:right;}
.left_650_c_c_l470_l_unit_s .btn a {padding:0 5px 0 3px;}
.left_650_c_c_l470_l_unit_s .btn a:link {color:#5b711c; text-decoration:none;}
.left_650_c_c_l470_l_unit_s .btn a:visited {color:#5b711c;text-decoration:none;}
.left_650_c_c_l470_l_unit_s .btn a:hover {color: #5b711c;text-decoration:underline;}
.left_650_c_c_l470_l_unit_s .btn a:active {color: #5b711c;text-decoration: none;}

.left_650_c_c_l470_l_unit_nodate {float:left;width:430px;padding:20px 5px;margin:5px 0 0 0;}
.left_650_c_c_l470_l_unit_nodate li {float:left;width:430px;text-align:center;color:#999;}

.left_650_c_c_l470_l_page {float:left;width:420px;padding:0 10px 0 0;}
.left_650_c_c_l470_l_page div {float:left;padding:0 20px 0 0;line-height:24px;}
.left_650_c_c_l470_l_page div a {padding:0 5px;}
.left_650_c_c_l470_l_page .current {color:#999;}
.left_650_c_c_l470_l_page .current:link {color:#999; text-decoration:none;}
.left_650_c_c_l470_l_page .current:visited {color:#999;text-decoration:none;}
.left_650_c_c_l470_l_page .current:hover {color: #999;text-decoration:underline;}
.left_650_c_c_l470_l_page .current:active {color: #999;text-decoration: none;}

.right_190 {float:left;width:190px;padding:0 0 0 10px;}
.right_190_column {float:left;width:170px;padding:0 10px;text-align:left;}
.right_190_c_title {float:left;width:170px;padding:5px 0 10px 0;font-size:14px;font-weight:bold;text-transform:uppercase;color:#333;line-height:18px;}
.right_190_c_content {float:left;width:170px;font-size:12px;color:#999;line-height:18px;}
.right_190_c_c_a {float:left;width:170px;padding:10px 0;border-bottom:1px #999 dashed;}
.right_190_c_c_a .photo {float:left;width:70px;text-align:left;}
.right_190_c_c_a .photo img {width:60px;}
.right_190_c_c_a .words {float:left;width:100px;text-align:left;}
.right_190_c_c_a .title {color:#4989b5;height:20px;font-size:12px;font-weight:bold;}
.right_190_c_c_a .title a:link {color:#4989b5; text-decoration:none;}
.right_190_c_c_a .title a:visited {color:#4989b5;text-decoration:none;}
.right_190_c_c_a .title a:hover {color: #4989b5;text-decoration:underline;}
.right_190_c_c_a .title a:active {color: #4989b5;text-decoration: none;}
.right_190_c_c_a .intro {color:#666;line-height:12px;font-size:11px;}
.right_190_c_c_a .btn {color:#5b711c;line-height:20px;font-weight:bold;}
.right_190_c_c_a .btn a:link {color:#5b711c; text-decoration:none;}
.right_190_c_c_a .btn a:visited {color:#5b711c;text-decoration:none;}
.right_190_c_c_a .btn a:hover {color: #5b711c;text-decoration:underline;}
.right_190_c_c_a .btn a:active {color: #5b711c;text-decoration: none;}
.right_190_c_more {float:left;width:170px;padding:10px 0 20px 0;font-size:12px;color:#4989b5;line-height:12px;}
.right_190_c_more a:link {color:#4989b5; text-decoration:none;}
.right_190_c_more a:visited {color:#4989b5;text-decoration:none;}
.right_190_c_more a:hover {color: #4989b5;text-decoration:underline;}
.right_190_c_more a:active {color: #4989b5;text-decoration: none;}

.search_advance_350down {float:left;width:350px;height:300px;border:1px solid #ccc;overflow-y:scroll; overflow-x:hidden;}
.search_ad_350_scope {float:left;width:320px;padding:5px;}
.search_ad_350_scope:hover { background-color:#f4f4f4; cursor:pointer;}
.search_ad_350_p {float:left;width:50px;height:50px;padding:0 5px 0 0;}
.search_ad_350_p img {max-width:50px;max-height:50px;}
.search_ad_350_t {float:left;width:265px;height:16px;font-size:12px;color: #666;line-height:14px;padding:5px 0 0 0;overflow:hidden;}
.search_ad_350_i {float:left;width:265px;height:18px;font-size:12px;color: #999;line-height:14px;overflow:hidden;}

.people_profile_card_all {float:left;width:570px;padding:30px 0 0 40px;}
.people_profile_card {float:left;width:570px;border:1px #ccc solid;border-top:0px;background-image: url(../imgs/people_profile_bg_c.gif);background-repeat: repeat-x;background-position: top;}
.people_profile_bg_left {float:left;width:3px;height:178px;}
.people_profile_c {float:left;width:484px;padding:30px 40px;}
.people_p_c_name {float:left;width:245px;padding:0 0 0 35px;font-size:24px;line-height:28px;font-weight:bold;background-image: url(../imgs/profile_19.png);background-repeat: no-repeat;background-position: left center;overflow:hidden;}
.people_p_c_email {float:left;width:245px;padding:5px 0 5px 35px;min-height:16px;font-size:14px;line-height:16px;color:#666;background-image: url(../imgs/profile_23.png);background-repeat: no-repeat;background-position: left center;overflow:hidden;}
.people_p_c_tel {float:left;width:245px;padding:5px 0 5px 35px;min-height:16px;font-size:14px;line-height:16px;color:#666;background-image: url(../imgs/profile_26.png);background-repeat: no-repeat;background-position: left center;overflow:hidden;}
.people_p_c_logo {float:right;width:120px;padding:2px; background-color:#fff; border:1px solid #ccc;}
.people_p_c_logo img {max-height:120px;max-width:120px;}
.people_p_c_job {float:left;width:350px;padding:30px 0 0 0;}
.people_p_c_job .title {float:left;width:350px;font-size:14px;color:#666;font-weight:bold;}
.people_p_c_job .div_title {float:left;width:120px;min-height:20px;font-size:12px;color:#999;}
.people_p_c_job .div_detail {float:left;width:230px;min-height:20px;font-size:12px;color:#666;}
.left_650_c2_content_line {float:left;width:649px;height:10px;background-image: url(../imgs/people_profile_bg_line.gif);background-repeat: repeat-x;background-position: center;}
