
/*middle-720:250*/
.left_720 {float:left;width:720px;}

.left_720_column {float:left;width:719px;border-left:1px #ccc solid;border-bottom:1px #bbb solid;background-color:#fff;text-align:left; }
.left_720_c_title_black {float:left;width:699px;padding:0 0 0 20px;font-size:16px;line-height:36px;color:#fff;background-color:#a6a6a6;}
.left_720_c_title_black .div_space {float:left;padding:0 20px 0 0;}
.left_720_c_title_black span {float:right;font-size:12px;font-weight:bold;line-height:36px;padding:0 20px 0 0;}
.left_720_c_title_black span a:link {color:#fff; text-decoration:none;}
.left_720_c_title_black span a:visited {color:#fff;text-decoration:none;}
.left_720_c_title_black span a:hover {color: #fff;text-decoration:underline;}
.left_720_c_title_black span a:active {color: #fff;text-decoration: none;}

.left_720_c_title {float:left;width:699px;padding:15px 0 15px 20px;text-align:left;}
.left_720_c_title_photo {float:left;width:140px;}
.left_720_c_title_photo img {width:140px;}
.left_720_c_title_words {float:left;width:559px;}
.left_720_c_title_blacktitle {float:left;width:94%;padding:0 0 0 10px;text-align:left;}
.left_720_c_title_blacktitle li {float:left;width:100%;font-size:11px;}
.left_720_c_title_blacktitle .title {float:left;width:94%;padding:3px 0 15px 0;font-size:24px;line-height:24px;color:#666;font-weight:bold;}
.left_720_c_title_blacktitle .section {float:left;padding:0;font-size:14px;color:#999;}
.left_720_c_title_blacktitle .section a {color:#4989b5;padding:0 20px 0 0;}
.left_720_c_title_blacktitle .section a:link {color:#4989b5; text-decoration:none;}
.left_720_c_title_blacktitle .section a:visited {color:#4989b5;text-decoration:none;}
.left_720_c_title_blacktitle .section a:hover {color: #4989b5;text-decoration:underline;}
.left_720_c_title_blacktitle .section a:active {color: #4989b5;text-decoration: none;}
.left_720_c_title_blacktitle .option {float:left;width:auto;padding:0 30px 0 0;font-size:12px;color:#5b711c;line-height:24px;}
.left_720_c_title_blacktitle .option a:link {color:#5b711c; text-decoration:none;}
.left_720_c_title_blacktitle .option a:visited {color:#5b711c;text-decoration:none;}
.left_720_c_title_blacktitle .option a:hover {color: #5b711c;text-decoration:underline;}
.left_720_c_title_blacktitle .option a:active {color: #5b711c;text-decoration: none;}

.left_720_c_content {float:left;width:719px;padding:3px 0 0 0;text-align:left;border-top:1px #efefef solid;}

.left_720_c_c_option {float:left;width:699px;height:30px;padding:0 0 0 20px;line-height:30px;color:#999;border-bottom:1px #efefef solid;}
.left_720_c_c_option .div120 {float:left;width:120px;}
.left_720_c_c_option .div579 {float:left;width:579px;padding:3px 0 0 0;}

.left_720_c_c_option2 {float:left;width:679px;padding:0 20px;background-color:#efefef;}
.left_720_c_c_option2 .div_select {float:left;padding:5px 10px 0 0;}
.left_720_c_c_option2 .div_btn {float:left;padding:3px 10px 3px 0;}
.left_720_c_c_option2 span {float:right;font-weight:bold;line-height:30px;}
.left_720_c_c_option2 span a:link {color:#5b711c; text-decoration:none;}
.left_720_c_c_option2 span a:visited {color:#5b711c;text-decoration:none;}
.left_720_c_c_option2 span a:hover {color: #5b711c;text-decoration:underline;}
.left_720_c_c_option2 span a:active {color: #5b711c;text-decoration: none;}

.left_720_c_c_option3 {float:left;width:100%;background-color:#efefef;}
.left_720_c_c_option3 .div_left {float:left;padding:5px 10px 0 20px;}
.left_720_c_c_option3 .div_right {float:right;padding:3px 20px 3px 0;line-height:30px;}
 
.left_720_c_c_title_gray {float:left;width:699px;padding:0 0 0 20px;font-size:16px;line-height:36px;color:#666;}


.left_720_c_c_post {float:left;width:679px;padding:10px 20px;}
.left_720_c_c_post li {float:left;width:679px;padding:3px;}

.left_720_c_c_index {float:left;width:689px;padding:0 10px 0 20px;color:#999;line-height:30px;border-bottom:1px #efefef solid;}
.left_720_c_c_index a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_index a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_index a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_index a:active {color: #275f7c;text-decoration: none;}
.left_720_c_c_index span {float:right;padding:0 0 10px 3px;}

.left_720_c_c_title {float:left;width:300px;height:30px;padding:0 0 0 20px;line-height:30px;color:#666;background-color:#efefef;}
.left_720_c_c_detail {float:left;width:679px;padding:10px 20px 20px 20px;}
.left_720_c_c_detail li {float:left;width:679px;padding:0 0 5px 0;}
.left_720_c_c_detail .title {float:left;width:120px;line-height:24px;color:#999;}
.left_720_c_c_detail .detail {float:left;width:550px;line-height:24px;color:#666;}

.left_720_c_c_detail_220 {float:left;width:215px;margin-right:10px;}
.left_720_c_c_detail_220 li {float:left;width:215px;border-bottom:1px dashed #ccc;line-height:30px;}
.left_720_c_c_detail_220 li span {color:#999;}
.left_720_c_c_detail_220b {float:right;width:215px;margin-right:10px;}
.left_720_c_c_detail_220b li {float:right;width:215px;border-bottom:1px dashed #ccc;line-height:30px;}
.left_720_c_c_detail_220b li span {color:#999;}
.left_720_c_c_detail_220_title {float:left;width:215px;font-weight:bold;color:#4989b5;}


.left_720_c_c_detail_li {float:left;width:679px;}
.left_720_c_c_detail_li_div80 {float:left;width:80px;line-height:30px;}
.left_720_c_c_detail_li_div589 {float:left;width:589px;padding:5px 0 0 0;}
.left_720_c_c_detail_li_div589b {float:left;width:589px;padding:5px 0 0 80px;}

.left_720_c_c_detail_list {float:left;width:679px;padding:20px 0 10px 0;border-bottom:3px #eee solid;}
.left_720_c_c_detail_list .select {float:left;width:30px;padding:25px 0 0 0;text-align:left;}
.left_720_c_c_detail_list .detail {float:left;width:645px;}
.left_720_c_c_detail_list .detail_585 {float:left;width:575px;}
.left_720_c_c_detail_list .detail_blog {float:left;width:679px;}
.left_720_c_c_detail_list .detail_blog_sticky {float:left;width:679px; background-color:f4f4f4;}

.left_720_c_c_detail_list .photo_sticky {float:left;width:110px;padding:0 4px 0 0;}
.left_720_c_c_detail_list .photo_sticky img {float:left;max-width:110px;max-height:110px;}
.left_720_c_c_detail_list .detail_555_sticky {float:left;width:565px;}

.left_720_c_c_detail_list .title_sticky {float:left;width:525px;font-size:14px;line-height:20px;background-color:#6699cc;padding:8px 0 5px 40px;background-image: url(../imgs/icon/icon_sticky.png);background-repeat: no-repeat;background-position: left center;}
.left_720_c_c_detail_list .title_sticky a:link {color:#fff; text-decoration:none;}
.left_720_c_c_detail_list .title_sticky a:visited {color:#fff;text-decoration:none;}
.left_720_c_c_detail_list .title_sticky a:hover {color: #fff;text-decoration:underline;}
.left_720_c_c_detail_list .title_sticky a:active {color: #fff;text-decoration: none;}

.left_720_c_c_detail_list .source_sticky {float:left;width:99%;font-size:12px;color:#999;line-height:14px;padding:10px 0 5px 5px;}
.left_720_c_c_detail_list .source_sticky span {padding:0 15px 0 0;color:#999;}
.left_720_c_c_detail_list .source_sticky a {padding:0 3px 0 0;color:#275f7c;}
.left_720_c_c_detail_list .source_sticky a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_detail_list .source_sticky a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_detail_list .source_sticky a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_detail_list .source_sticky a:active {color: #275f7c;text-decoration: none;}

.left_720_c_c_detail_list .photo {float:left;width:110px;padding:0 10px 0 0;}
.left_720_c_c_detail_list .photo img {float:left;max-width:110px;max-height:110px;}
.left_720_c_c_detail_list .detail_555 {float:left;width:555px;}

.left_720_c_c_detail_list .title {float:left;width:100%;font-size:24px;line-height:22px;color:#666;padding:0 0 13px 0;}
.left_720_c_c_detail_list .title a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_detail_list .title a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_detail_list .title a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_detail_list .title a:active {color: #275f7c;text-decoration: none;}

.left_720_c_c_detail_list .title2 {float:left;width:100%;font-size:18px;line-height:22px;color:#666;padding:0 0 5px 0;}
.left_720_c_c_detail_list .title2 a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_detail_list .title2 a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_detail_list .title2 a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_detail_list .title2 a:active {color: #275f7c;text-decoration: none;}

.left_720_c_c_detail_list .source {float:left;width:99%;font-size:12px;color:#999;line-height:14px;padding:0 0 5px 5px;}
.left_720_c_c_detail_list .source span {padding:0 15px 0 0;color:#999;}
.left_720_c_c_detail_list .source a {padding:0 3px 0 0;color:#275f7c;}
.left_720_c_c_detail_list .source a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_detail_list .source a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_detail_list .source a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_detail_list .source a:active {color: #275f7c;text-decoration: none;}

.left_720_c_c_detail_list .source2 {float:left;width:100%;font-size:13px;color:#999;line-height:14px;padding:0 0 3px 0;}
.left_720_c_c_detail_list .source2 span {padding:0 15px 0 0;color:#999;}
.left_720_c_c_detail_list .source2 a {padding:0 3px 0 0;color:#275f7c;}
.left_720_c_c_detail_list .source2 a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_detail_list .source2 a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_detail_list .source2 a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_detail_list .source2 a:active {color: #275f7c;text-decoration: none;}

.left_720_c_c_detail_list .data {float:left;width:100%;font-size:12px;color:#666;line-height:12px;padding:0 0 5px 0;}
.left_720_c_c_detail_list .data span {padding:0 20px 0 0;color:#999;}
.left_720_c_c_detail_list .data span a {padding:0;color:#275f7c;}
.left_720_c_c_detail_list .data span a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_detail_list .data span a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_detail_list .data span a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_detail_list .data span a:active {color: #275f7c;text-decoration: none;}

.left_720_c_c_detail_list .btn {float:left;width:100%;font-size:12px;line-height:16px;color:#999;padding:5px 0 0 0;}
.left_720_c_c_detail_list .btn a {padding:0 20px 0 3px;font-weight:bold;}
.left_720_c_c_detail_list .btn a:link {color:#5b711c; text-decoration:none;}
.left_720_c_c_detail_list .btn a:visited {color:#5b711c;text-decoration:none;}
.left_720_c_c_detail_list .btn a:hover {color: #5b711c;text-decoration:underline;}
.left_720_c_c_detail_list .btn a:active {color: #5b711c;text-decoration: none;}

.left_720_c_c_detail_list .content {float:left;width:100%;font-size:12px;line-height:normal;color:#666;padding:0;}
.left_720_c_c_detail_list .content span {color:#666;}
.left_720_c_c_detail_list .content img {padding:5px 0;max-width:240px;max-height:240px;border:0;}
.left_720_c_c_detail_list .content p {padding:0 0 10px 0;}
.left_720_c_c_detail_list .content ul {margin-left:25px;}
.left_720_c_c_detail_list .content ol {margin-left:25px;}

.left_720_c_c_detail_list .content_detail {float:left;width:100%;padding:0;}
.left_720_c_c_detail_list .content_detail img {max-width:450px;max-height:450px;border:0;}


.left_720_c_c_detail_mylist {float:left;width:679px;padding:20px 0 10px 0;border-bottom:1px #ccc dashed;}
.left_720_c_c_detail_mylist .select {float:left;width:30px;padding:20px 0 0 0;text-align:left;}
.left_720_c_c_detail_mylist .detail {float:left;width:645px;}
.left_720_c_c_detail_mylist .detail_585 {float:left;width:575px;}

.left_720_c_c_detail_mylist .title {float:left;width:100%;font-size:16px;color:#666;padding:0 0 4px 0;}
.left_720_c_c_detail_mylist .title a:link {color:#275f7c; text-decoration:none;}
.left_720_c_c_detail_mylist .title a:visited {color:#275f7c;text-decoration:none;}
.left_720_c_c_detail_mylist .title a:hover {color: #275f7c;text-decoration:underline;}
.left_720_c_c_detail_mylist .title a:active {color: #275f7c;text-decoration: none;}

.left_720_c_c_detail_mylist .data {float:left;width:100%;font-size:12px;color:#666;line-height:12px;padding:0 0 5px 0;}
.left_720_c_c_detail_mylist .data span {padding:0 20px 0 0;}

.left_720_c_c_detail_mylist .btn {float:left;width:100%;font-size:12px;line-height:16px;color:#999;padding:5px 0 0 0;}
.left_720_c_c_detail_mylist .btn a {padding:0 15px 0 3px;font-weight:bold;}
.left_720_c_c_detail_mylist .btn a:link {color:#5b711c; text-decoration:none;}
.left_720_c_c_detail_mylist .btn a:visited {color:#5b711c;text-decoration:none;}
.left_720_c_c_detail_mylist .btn a:hover {color: #5b711c;text-decoration:underline;}
.left_720_c_c_detail_mylist .btn a:active {color: #5b711c;text-decoration: none;}

.left_720_c_c_detail_mylist .content {float:left;width:100%;font-size:12px;line-height:18px;color:#999;padding:0;}
.left_720_c_c_detail_mylist .content span {color:#666;}
.left_720_c_c_detail_mylist .content img {padding:5px 0;max-width:450px;max-height:450px;border:0;}

.left_720_c_c_detail_mylist .content_detail {float:left;width:100%;padding:0;}
.left_720_c_c_detail_mylist .content_detail img {max-width:450px;max-height:450px;border:0;}

.left_720_c_c_left {float:left;width:138px;border-right:1px #efefef solid;}
.left_720_c_c_l_space {float:left;width:138px;height:10px;}
.left_720_c_c_l_space2 {float:left;width:138px;height:4px;}
.left_720_c_c_l_select {float:left;width:128px;height:24px;padding:6px 0 0 10px;color:#333;background-color:#efefef;background-image: url(../imgs/left_650_c2_a_leftbg.png);background-repeat: no-repeat;background-position: right center;cursor:pointer;}
.left_720_c_c_l_not {float:left;width:128px;height:24px;padding:6px 0 0 10px;background-image: url(../imgs/left_650_c2_a_leftbg.png);background-repeat: no-repeat;background-position: right center;cursor:pointer;}
.left_720_c_c_l_not:hover {background-color:#efefef;}

.left_720_c_c_right {float:left;width:570px;padding:0 0 0 10px;border-left:1px #efefef solid;margin-left:-1px;}
.left_720_c_c_r_option {float:left;width:560px;padding:0 10px 0 0;height:30px;border-bottom:1px solid #ccc;}
.left_720_c_c_r_o_select {float:left;padding:0 20px;line-height:28px;margin-top:1px;border:1px solid #ccc;border-bottom:1px solid #fff;background-image: url(../imgs/left_650_navi_selectbg.gif);background-repeat: repeat;	background-position: left center;cursor:pointer;}
.left_720_c_c_r_o_not {float:left;padding:0 20px;line-height:28px;margin-top:1px;border:1px solid #ccc;cursor:pointer;}
.left_720_c_c_r_o_not:hover {float:left;padding:0 20px;line-height:28px;margin-top:1px;border:1px solid #ccc;border-bottom:1px solid #fff;}
.left_720_c_c_r_o_space {float:left;width:10px;height:30px;}

.left_720_c_c_r_option2 {float:left;width:560px;height:32px;padding:0 10px 0 0;}

.left_720_c_c_r_option3 {float:left;width:560px;height:32px;padding:0 10px 0 0; background-color:#efefef;}
.left_720_c_c_r_o3_l {float:left;padding:6px 0 0 5px;}
.left_720_c_c_r_o3_l2 {float:left;padding:4px 0 0 5px;}
.left_720_c_c_r_o3_l3 {float:left;padding:0 0 0 10px;line-height:30px;}
.left_720_c_c_r_o3_r {float:right;padding:8px 10px 0 0;}

.left_720_c_c_r_list {float:left;width:560px;padding:0 10px 0 0;}

.left_720_c_c_r_list_a {float:left;width:560px;padding:15px 0 10px 0;border-bottom:1px #ddd dashed;}
.left_720_c_c_r_list_a .select {float:left;padding:24px 0 0 5px;}
.left_720_c_c_r_list_a .photo {float:left;width:60px;padding:0 10px 0 5px;}
.left_720_c_c_r_list_a .photo img {width:60px;}

.left_720_c_c_r_list_a .detail {float:left;width:450px;}
.left_720_c_c_r_list_a .detail .title {float:left;width:100%;font-size:14px;}
.left_720_c_c_r_list_a .detail .title a:link {color:#4989b5; text-decoration:none;}
.left_720_c_c_r_list_a .detail .title a:visited {color:#4989b5;text-decoration:none;}
.left_720_c_c_r_list_a .detail .title a:hover {color: #4989b5;text-decoration:underline;}
.left_720_c_c_r_list_a .detail .title a:active {color: #4989b5;text-decoration: none;}
.left_720_c_c_r_list_a .detail .title_unread {float:left;width:390px;font-weight:bold;font-size:14px;}
.left_720_c_c_r_list_a .detail .title_unread a:link {color:#145f93; text-decoration:underline;}
.left_720_c_c_r_list_a .detail .title_unread a:visited {color:#145f93;text-decoration:underline;}
.left_720_c_c_r_list_a .detail .title_unread a:hover {color: #145f93;text-decoration:none;}
.left_720_c_c_r_list_a .detail .title_unread a:active {color: #145f93;text-decoration: underline;}

.left_720_c_c_r_list_a .detail .content {float:left;width:100%;color:#999;padding:0 0 3px 0;line-height:16px;}

.left_720_c_c_r_list_a .detail .source {float:left;width:100%;color:#999;padding:0 0 3px 0;}
.left_720_c_c_r_list_a .detail .source span {padding:0 15px 0 0;}
.left_720_c_c_r_list_a .detail .source a {padding:0 5px 0 0;color:#4989b5;}
.left_720_c_c_r_list_a .detail .source a:link {color:#4989b5; text-decoration:none;}
.left_720_c_c_r_list_a .detail .source a:visited {color:#4989b5;text-decoration:none;}
.left_720_c_c_r_list_a .detail .source a:hover {color: #4989b5;text-decoration:underline;}
.left_720_c_c_r_list_a .detail .source a:active {color: #4989b5;text-decoration: none;}

.left_720_c_c_r_list_a .detail .btn {float:left;width:390px;}
.left_720_c_c_r_list_a .detail .btn a {padding:0 20px 0 3px;color:#5b711c;font-weight:bold;}
.left_720_c_c_r_list_a .detail .btn a:link {color:#5b711c; text-decoration:none;}
.left_720_c_c_r_list_a .detail .btn a:visited {color:#5b711c;text-decoration:none;}
.left_720_c_c_r_list_a .detail .btn a:hover {color: #5b711c;text-decoration:underline;}
.left_720_c_c_r_list_a .detail .btn a:active {color: #5b711c;text-decoration: none;}

.left_650_c2_a_r_list_a .div390 {float:left;width:390px;}
.left_650_c2_a_r_list_a .div80 {float:left;width:80px;}

.left_720_c_c_r_list_b {float:left;width:560px;padding:15px 0 10px 0;}
.left_720_c_c_r_list_b li {float:left;width:100%;}
.left_720_c_c_r_list_b .content {float:left;width:100%px;color:#999;}
.left_720_c_c_r_list_b .content span {color:#666;}
.left_720_c_c_r_list_b .title {float:left;width:100%px;color:#666;font-weight:bold;}
.left_720_c_c_r_list_b .div100 {float:left;width:100px;padding:10px 0;font-weight:bold;}
.left_720_c_c_r_list_b .div100 img {width:90px;}
.left_720_c_c_r_list_b .div460 {float:left;width:460px;padding:10px 0;color:#666;}
.left_720_c_c_r_list_b .div460_space {float:left;width:100%;height:10px;}
.left_720_c_c_r_list_b .div460_title {float:left;width:100px;line-height:30px;}
.left_720_c_c_r_list_b .div460_detail {float:left;width:360px;line-height:30px;}



.right_250 {float:right;width:250px;}
.right_250_column {float:left;width:209px;text-align:left;padding:0 20px;border-left:1px #ccc solid;border-bottom:1px #bbb solid;background-color:#fff;}
.right_250_c_title {float:left;width:209px;padding:15px 0 15px 0;font-size:14px;text-transform:uppercase;color:#333;line-height:18px;}
.right_250_c_title_b_a {float:left;width:209px;padding:15px 0 15px 0;font-size:14px;text-transform:uppercase;color:#333;line-height:18px;font-weight:bold;}
.right_250_c_content {float:left;width:209px;font-size:12px;color:#999;line-height:18px;}

.right_250_c_c_a {float:left;width:209px;padding:15px 0;border-bottom:1px #ccc dashed;color:#666;}
.right_250_c_c_a span {color:#999;}
.right_250_c_c_a .title {color:#275f7c;font-size:14px;line-height:20px;}
.right_250_c_c_a .title a:link {color:#275f7c; text-decoration:none;}
.right_250_c_c_a .title a:visited {color:#275f7c;text-decoration:none;}
.right_250_c_c_a .title a:hover {color: #275f7c;text-decoration:underline;}
.right_250_c_c_a .title a:active {color: #275f7c;text-decoration: none;}
.right_250_c_c_a .intro {color:#999;line-height:18px;}
.right_250_c_c_a .number {color:#999;line-height:18px;}
.right_250_c_c_a .number span {color:#666; padding:0 0 0 3px;}
.right_250_c_c_a .source {color:#999;line-height:18px;padding:0 0 3px 0;}
.right_250_c_c_a .source a:link {color:#275f7c; text-decoration:none;}
.right_250_c_c_a .source a:visited {color:#275f7c;text-decoration:none;}
.right_250_c_c_a .source a:hover {color: #275f7c;text-decoration:underline;}
.right_250_c_c_a .source a:active {color: #275f7c;text-decoration: none;}

.right_250_c_c_b {float:left;width:209px;padding:0;}
.right_250_c_c_b .title {color:#275f7c;font-size:14px;line-height:36px;padding:0 0 0 20px;border-bottom:1px #ccc dashed;background-image: url(../imgs/icon/blue_arrow_left.png);background-repeat: no-repeat;background-position: left center;}
.right_250_c_c_b .title a:link {color:#275f7c; text-decoration:none;}
.right_250_c_c_b .title a:visited {color:#275f7c;text-decoration:none;}
.right_250_c_c_b .title a:hover {color: #275f7c;text-decoration:underline;}
.right_250_c_c_b .title a:active {color: #275f7c;text-decoration: none;}
.right_250_c_c_b .intro {color:#999;line-height:13px;}
.right_250_c_c_b .source {color:#666;line-height:18px;padding:0 0 3px 0;}
.right_250_c_c_b .source a:link {color:#275f7c; text-decoration:none;}
.right_250_c_c_b .source a:visited {color:#275f7c;text-decoration:none;}
.right_250_c_c_b .source a:hover {color: #275f7c;text-decoration:underline;}
.right_250_c_c_b .source a:active {color: #275f7c;text-decoration: none;}

.right_250_c_c_a .photo_70 {float:left;width:70px;}
.right_250_c_c_a .photo_70 img {width:60px;}
.right_250_c_c_a .word_139 {float:left;width:138px;}


.right_250_login {float:left;width:210px;text-align:left;padding:0 20px;}
.login_title {float:left;width:210px;padding:0 0 8px 0;font-size:16px;text-transform:uppercase;color:#275f7c;line-height:16px;font-weight:bold;}
.login_title_b {float:left;width:210px;padding:0 0 20px 0;font-size:12px;color:#999;line-height:12px;}
.login_usertype {float:left;width:210px;}
.login_usertype .type {float:left;width:210px;font-size:13px;color:#275f7c;padding:10px 0 5px 0;}
.login_usertype .type a:link {color:#275f7c; text-decoration:none;}
.login_usertype .type a:visited {color:#275f7c;text-decoration:none;}
.login_usertype .type a:hover {color: #275f7c;text-decoration:underline;}
.login_usertype .type a:active {color: #275f7c;text-decoration: none;}
.login_usertype .norecevied {float:left;width:173px;font-size:12px;line-height:14px;color:#397898;padding:5px 5px 5px 30px;border:1px dashed #b3d0e4;background-image: url(../imgs/icon/icon_stickied.png);	background-repeat: no-repeat;background-position: 3px center;}
.login_usertype .norecevied a:link {color:#397898; text-decoration:none;}
.login_usertype .norecevied a:visited {color:#397898;text-decoration:none;}
.login_usertype .norecevied a:hover {color: #275f7c;text-decoration:underline;}
.login_usertype .norecevied a:active {color: #397898;text-decoration: none;}
.login_usertype .userreward {float:left;width:173px;font-size:12px;line-height:14px;color:#b15232;padding:5px 5px 5px 30px;border:1px dashed #ebc2b5;background-image: url(../imgs/icon/icon_announce.png);	background-repeat: no-repeat;background-position: 3px center;}
.login_usertype .userreward a:link {color:#b15232; text-decoration:none;}
.login_usertype .userreward a:visited {color:#b15232;text-decoration:none;}
.login_usertype .userreward a:hover {color: #cc3300;text-decoration:underline;}
.login_usertype .userreward a:active {color: #b15232;text-decoration: none;}
.login_usertype .invite {float:left;width:173px;font-size:12px;line-height:14px;color:#397898;padding:5px 5px 5px 30px;border:1px dashed #b3d0e4;background-image: url(../imgs/icon/icon_invite.png);	background-repeat: no-repeat;background-position: 3px center;}
.login_usertype .invite a:link {color:#397898; text-decoration:none;}
.login_usertype .invite a:visited {color:#397898;text-decoration:none;}
.login_usertype .invite a:hover {color: #275f7c;text-decoration:underline;}
.login_usertype .invite a:active {color: #397898;text-decoration: none;}
.login_usertype .intro {float:left;width:210px;font-size:11px;line-height:12px;color:#999;}

.left_720_login {float:left;width:730px;height:415px;background-image: url(../imgs/login_mainphoto.gif);background-repeat: no-repeat;background-position: right top;color:#666;line-height:14px;text-align:left;}
.left_720_login_div1 {float:left;height:60px;width:300px;padding:29px 0 0 290px;}
.left_720_login_div2 {float:left;height:80px;width:280px;padding:28px 0 0 440px;}
.left_720_login_div3 {float:left;height:80px;width:220px;padding:48px 0 0 442px;}
