
/*middle-720:250*/
.left_980 {float:left;width:980px;}

.left_980_column {float:left;width:979px;border-left:1px #ccc solid;border-bottom:1px #bbb solid;background-color:#fff;text-align:left; }
.left_980_c_title_black {float:left;width:959px;padding:0 0 0 20px;font-size:16px;line-height:36px;color:#fff;background-color:#a6a6a6;}

.left_980_c_content {float:left;width:939px;padding:20px 20px 0 20px;text-align:left;}
.left_980_c_content_span_a {float:left;padding:0 30px 0 0;text-align:left;}
.left_980_c_c_490_content {
	float: left;
	width: 440px;
	padding: 0;
	text-align: left;
	background-image: url(../imgs/icon/blue_arrow_left22x26.png);
	background-repeat: no-repeat;
	background-position: right 160px;
}
.left_980_c_c_490_content2 {float:left;width:480px;padding:5px;text-align:left;border:1px solid #efefef;}
.left_980_c_c_title {float:left;width:939px;padding:0 0 15px 0;color:#4989b5;font-size:18px;}
.left_980_c_c_intro {float:left;width:939px;padding:0 0 15px 0;color:#999;font-size:12px;line-height:16px;}

.left_980_c_c_option {float:left;width:939px;height:26px;padding:15px 20px 6px 20px;border-bottom:1px #efefef solid;}
.left_980_c_c_option .div_letter {float:left;padding:2px 5px;margin-right:3px;border:1px solid #999;color:#999;background-color:#f4f4f4;cursor:pointer;}
.left_980_c_c_option .div_letter:hover {border:1px solid #777;background-color:#ccc;color:#fff;}
.left_980_c_c_option .div_letter_select {float:left;padding:2px 5px;margin-right:3px;border:1px solid #777;color:#fff;background-color:#ccc;cursor:pointer;}
.left_980_c_c_option .div_input {float:left;padding:0 10px 0 0;}
.left_980_c_c_option .div_title {float:left;padding:0 10px 0 0;color:#999;font-size:14px;}
.left_980_c_c_option .div_title span {color:#7d3a2d;}
.left_980_c_c_option a {color:#275f7c;font-size:14px;padding:0 30px 0 0;}
.left_980_c_c_option a:link {color:#275f7c; text-decoration:none;}
.left_980_c_c_option a:visited {color:#275f7c;text-decoration:none;}
.left_980_c_c_option a:hover {color: #275f7c;text-decoration:underline;}
.left_980_c_c_option a:active {color: #275f7c;text-decoration: none;}

.left_980_c_c_option2 {float:left;width:939px;background-color:#efefef;}
.left_980_c_c_option2 .div_select {float:left;padding:5px 10px 0 10px;}
.left_980_c_c_option2 .div_btn {float:left;padding:3px 6px 3px 0;}
.left_980_c_c_option2 .div_total {float:right;font-weight:bold;line-height:30px;padding:0 20px 0 0;}
.left_980_c_c_option2 .div_title {float:left;font-weight:bold;line-height:30px;padding:0 20px 0 10px;}

.left_980_c_c_option3 {float:left;width:939px;padding:0 0 0 0;}
.left_980_c_c_option3 div {float:left;padding:0 20px 0 0;line-height:24px;}
.left_980_c_c_option3 div a {padding:0 5px;}

.left_980_c_c_detail {float:left;width:939px;}
.left_980_c_c_detail_list {float:left;width:939px;padding:20px 0 10px 0;border-bottom:1px #ccc dashed;}
.left_980_c_c_detail_list_title {float:left;width:939px;padding:5px 0 5px 0;font-size:14px;color:#660000;}
.left_980_c_c_detail_list_graph {float:left;width:939px;height:auto; overflow-x:scroll;overflow-y:hidden;}
.left_980_c_c_detail_list table {border-collapse:collapse;border:none;}
.left_980_c_c_detail_list table .tr_title { background-color:#999;color:#fff;}
.left_980_c_c_detail_list table .tr_bgcolor1 { background-color:#f4f4f4;}
.left_980_c_c_detail_list table .tr_bgcolor2 { background-color:#fff;}
.left_980_c_c_detail_list table td {border:solid #999 1px;padding:2px;}
.left_980_c_c_detail_list .select {float:left;width:30px;padding:15px 0 0 10px;text-align:left;}
.left_980_c_c_detail_list .select2 {float:left;width:30px;padding:6px 0 0 10px;text-align:left;}
.left_980_c_c_detail_list .detail {float:left;width:600px;}
.left_980_c_c_detail_list .detail100 {float:left;width:100%;}
.left_980_c_c_detail_btn {float:left;width:939px;padding:20px 0 10px 0;text-align:center;font-line:30px;}


.left_980_c_c_detail2 {float:left;width:939px;height:290px; overflow-y:scroll;}
.left_980_c_c_detail2b {float:left;width:480px;height:290px; overflow-y:scroll;}
.left_980_outsidelisting3 {float:left;width:210px;height:40px;overflow:hidden;margin-right:6px;margin-bottom:6px;padding:5px;border:1px solid #ccc;}
.left_980_outsidelisting3:hover { background-color:#f8f8f8;border:1px solid #999;cursor:pointer;}
.left_980_outsidelisting3 .img {float:left;width:50px;}
.left_980_outsidelisting3 .img img { max-width:40px;max-height:40px;}
.left_980_outsidelisting3 .title {float:left;width:160px;font-size:12px;line-height:14px;color:#666;padding:5px 0 0 0;}


.article_title2{display:block;font-size:24px;color:#666;padding:0 0 10px 0;}
.article_title3{display:block;font-size:16px;color:#3276ac;padding:0 0 5px 0;}
.article_title4{display:block;font-size:12px;font-weight:bold;color:#666;padding:0 0 5px 0;}
.article_space10_left{display:block;font-size:12px;color:#999;padding:0 0 5px 20px;}
.article_color{color:#3276ac;}

.left_980_c_c_detail_list .title {float:left;width:100%;font-size:13px;font-weight:bold;line-height:12px;color:#666;padding:0 0 5px 0;}
.left_980_c_c_detail_list .title a:link {color:#275f7c; text-decoration:none;}
.left_980_c_c_detail_list .title a:visited {color:#275f7c;text-decoration:none;}
.left_980_c_c_detail_list .title a:hover {color: #275f7c;text-decoration:underline;}
.left_980_c_c_detail_list .title a:active {color: #275f7c;text-decoration: none;}

.left_980_c_c_detail_list .date {float:left;width:100%;padding:0 0 5px 0;overflow:hidden;}
.left_980_c_c_detail_list .date_div {float:left;padding:0 20px 0 0;color:#666;}
.left_980_c_c_detail_list .date_div span {padding:0;color:#999;}

.left_980_c_c_detail_list .word {float:left;width:100%;font-size:12px;font-weight:normal;line-height:14px;color:#999;padding:0 0 5px 0;}

.left_980_c_c_detail_list .btn {float:left;width:290px;padding:10px 0 0 0;text-align:right;}
.left_980_c_c_detail_list .btn span {padding:0 4px 0 0;}

.left_980_c_c_detail_list .div_link {float:left;width:200px;font-size:13px;font-weight:bold;color:#666;padding:0 20px 0 0;}
.left_980_c_c_detail_list .div_link a:link {color:#275f7c; text-decoration:none;}
.left_980_c_c_detail_list .div_link a:visited {color:#275f7c;text-decoration:none;}
.left_980_c_c_detail_list .div_link a:hover {color: #275f7c;text-decoration:underline;}
.left_980_c_c_detail_list .div_link a:active {color: #275f7c;text-decoration: none;}
.left_980_c_c_detail_list .div_content {float:left;width:400px;padding:0 20px 0 0;}
.left_980_c_c_detail_list .div_content span {color:#999;padding:0 10px 0 0;}
.left_980_c_c_detail_list .div_date {float:left;width:100px;padding:0 20px 0 0;}
.left_980_c_c_detail_list .div_number {float:left;width:90px;padding:0 20px 0 0;}
.left_980_c_c_detail_list .div_btn {float:left;padding:0 20px 0 0;}

.left_980_c_c_detail_table {float:left;width:939px;padding:0 0 10px 0;}
.left_980_c_c_detail_table li {float:left;width:939px;line-height:30px;}
.left_980_c_c_detail_table .table_left {float:left;width:300px;padding:0 10px 0 0;text-align:right;font-weight:bold;}
.left_980_c_c_detail_table .table_right {float:left;width:620px;color:#999;}

.payment_part{float:left;width:300px;}
.payment_part_top{float:left;width:300px;height:135px;padding:25px 0 0 0;font-size:16px;font-weight:bold;color:#666;line-height:20px;border-bottom:1px solid #e4e4e4;}
.payment_partname{float:left;width:300px;line-height:20px;padding:5px 0;border-bottom:1px solid #e4e4e4; color:#3276ac;}
.payment_partname span{color:#999;}
.payment_center{float:left;width:920px;padding:0 0 10px 0;}

.payment_level_ashy{float:left;width:155px;}
.payment_level_ashy_top{float:left;width:145px;height:160px;border-bottom:1px solid #e4e4e4;padding:0 0 0 10px;}
.payment_level_ashy_top .level_title{font-size:16px;color:#999;font-weight:bold;line-height:20px;padding:0 0 10px 0;}
.payment_level_ashy_top .level_note{font-size:12px;color:#7d3a2d;line-height:15px;padding:10px 0 0 0;}
.payment_level_ashy_top .level_price{font-size:12px;line-height:14px;color:#aaa;}
.payment_level_ashy_top .level_price span{color:#999;}
.payment_level_ashy_top .level_btn{padding:15px 0 20px 0;height:25px;}
.payment_level_ashy_content{float:left;width:145px;line-height:20px;padding:5px 0 5px 10px;border-bottom:1px solid #e4e4e4;}

.payment_level_selected{float:left;width:155px;background-color:#f4f4f4;}
.payment_level_selected_top{float:left;width:145px;height:160px;border-bottom:1px solid #e4e4e4;padding:0 0 0 10px;}
.payment_level_selected_top .level_title{font-size:16px;color:#666;font-weight:bold;line-height:20px;padding:0 0 10px 0;}
.payment_level_selected_top .level_note{font-size:12px;color:#7d3a2d;line-height:15px;padding:10px 0 0 0;}
.payment_level_selected_top .level_price{font-size:12px;line-height:14px;color:#999;}
.payment_level_selected_top .level_price span{color:#3276ac;}
.payment_level_selected_top .level_btn{padding:15px 0 20px 0;height:25px;}
.payment_level_selected_content{float:left;width:145px;line-height:20px;padding:5px 0 5px 10px;border-bottom:1px solid #e4e4e4;}

.payment_level_normal{float:left;width:155px;}
.payment_level_normal_top{float:left;width:145px;height:160px;border-bottom:1px solid #e4e4e4;padding:0 0 0 10px;}
.payment_level_normal_top .level_title{font-size:16px;color:#666;font-weight:bold;line-height:20px;padding:0 0 10px 0;}
.payment_level_normal_top .level_note{font-size:12px;color:#7d3a2d;line-height:15px;padding:10px 0 0 0;}
.payment_level_normal_top .level_price{font-size:12px;line-height:14px;color:#999;}
.payment_level_normal_top .level_price span{color:#3276ac;}
.payment_level_normal_top .level_btn{padding:15px 0 10px 0;height:25px;}
.payment_level_normal_content{float:left;width:145px;line-height:20px;padding:5px 0 5px 10px;border-bottom:1px solid #e4e4e4;}



.left_980_goodreputation {float:left;width:460px;height:74px;margin-right:9px;overflow:hidden;padding:15px 0;border-bottom:1px dashed #ccc;}
.left_980_goodreputation .title {float:left;width:100%;font-size:12px;line-height:12px;color:#333;padding:0 0 5px 0;}
.left_980_goodreputation .date {float:left;width:100%;padding:0 0 5px 0;color:#999;line-height:14px;}

.left_980_outsidelisting {float:left;width:460px;height:54px;margin-right:9px;overflow:hidden;padding:10px 0 5px 0;}
.left_980_outsidelisting .title {float:left;width:100%;font-size:12px;font-weight:bold;line-height:12px;color:#666;padding:0 0 5px 0;}
.left_980_outsidelisting .title a:link {color:#275f7c;text-decoration:none;}
.left_980_outsidelisting .title a:visited {color:#275f7c;text-decoration:none;}
.left_980_outsidelisting .title a:hover {color: #275f7c;text-decoration:underline;}
.left_980_outsidelisting .title a:active {color: #275f7c;text-decoration: none;}
.left_980_outsidelisting .date {float:left;width:100%;padding:0 0 5px 0;color:#999;line-height:14px;}

.left_980_leads {float:left;width:930px;margin-right:9px;padding:10px 0;overflow:hidden;border-bottom:1px dashed #ccc;}
.left_980_leads_img {float:left;width:120px;padding:0 5px 0 0;}
.left_980_leads_img img {max-width:120px;max-height:120px;}
.left_980_leads_words {float:left;width:805px;padding:0;}
.left_980_leads .title {float:left;width:100%;font-size:12px;line-height:18px;color:#777;padding:0 0 5px 0;}
.left_980_leads .title span {color:#333;}
.left_980_leads .title a:link {color:#4989b5; text-decoration:underline;}
.left_980_leads .title a:visited {color:#4989b5;text-decoration:underline;}
.left_980_leads .title a:hover {color: #4989b5;text-decoration:none;}
.left_980_leads .title a:active {color: #4989b5;text-decoration: underline;}
.left_980_leads .date {float:left;width:100%;padding:0 0 5px 0;color:#777;line-height:14px;}

.left_980_930 {float:left;width:930px;padding:0;}
.left_980_930 .title {float:left;width:100%;font-size:12px;line-height:18px;color:#777;padding:0 0 5px 0;}
.left_980_930 .title span {color:#333;}
.left_980_930 .title a:link {color:#4989b5; text-decoration:underline;}
.left_980_930 .title a:visited {color:#4989b5;text-decoration:underline;}
.left_980_930 .title a:hover {color: #4989b5;text-decoration:none;}
.left_980_930 .title a:active {color: #4989b5;text-decoration: underline;}
.left_980_930 .date {float:left;width:100%;padding:0 0 5px 0;color:#777;line-height:14px;}

.left_980_930_list_lr {float:left;width:930px;height:24px;font-size:12px;line-height:24px;border-bottom:1px dashed #ccc;padding:0;}
.left_980_930_number {float:left;min-width:80px;padding:0;}
.left_980_930_name {float:left;width:600px;padding:0;}
.left_980_930_data {float:left;width:250px;padding:0;}


.left_980_outside_detail {float:left;width:600px;padding:10px;border:1px solid #ccc;background-color:#FFFFFF;-moz-box-shadow: 6px 6px 0px #ccc;box-shadow: 6px 6px 0px #ccc;}
.left_980_o_d_img {float:left;width:130px;}
.left_980_o_d_img img {float:left;width:110px;}
.left_980_o_d_word {float:left;width:470px;}
.left_980_o_d_word .title {float:left;width:100%;font-size:20px;line-height:24px;color:#333;padding:0 0 10px 0;}
.left_980_o_d_word .date {float:left;width:100%;font-size:12px;line-height:24px;color:#333;}
.left_980_o_d_word .date span {color:#999;padding:0 0 0 10px;}
.left_980_o_d_link {float:left;width:580px;text-align:right;font-size:12px;color:#666;padding:10px 20px 0 0;}

.whoisin_unit_company {float:left;padding:10px;}
.whoisin_unit_company img {border:1px solid #ccc;}
.whoisin_unit_flag {float:left;padding:10px;}
.whoisin_unit_other {float:left;width:450px;padding:5px 9px 10px 5px;line-height:12px;}

