body{margin:0;padding:0;text-align:center;font-size:12px;font-family: Arial, Helvetica, sans-serif;color: #666;line-height: 18px;}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, button, textarea, p, blockquote, th, td, address{padding:0; margin:0; border:0;}


ul,ol{list-style:none;}

div, li{word-wrap:break-word;}

a:link {color:#3276ac; text-decoration:underline;}
a:visited {color:#3276ac;text-decoration:underline;}
a:hover {color: #3276ac;text-decoration:none;}
a:active {color: #3276ac;text-decoration: underline;}

h1, h2, h3{font-size:14px;}
.space30{float:left;width:100%;height:30px;}
.space20{float:left;width:100%;height:20px;}
.space10{float:left;width:100%;height:10px;}
.space1{width:100%;}
.hr100 { float:left;width:100%;height:0; border:0;border-top:1px dashed #cccccc;}
.hr100b {width:100%;height:8px;border:0;border-bottom:1px dashed #cccccc;*height:0px;*margin-top:8px; }


.regist_process_all{width:800px;height:auto; margin:0 auto;padding:0;background-color:#FFFFFF;SCROLLBAR: none; }
.regist_process_head {width:800px; float:left;height:auto;padding:15px 0 10px 0;}
.regist_process_top {width:800px; float:left;height:auto;}
.regist_process_option{width:758px; float:left;padding:20px 20px 0 20px;text-align:left;}
.regist_process_option a:link {color:#4989b5; text-decoration:none;}
.regist_process_option a:visited {color:#4989b5;text-decoration:none;}
.regist_process_option a:hover {color: #4989b5;text-decoration:underline;}
.regist_process_option a:active {color: #4989b5;text-decoration: none;}
.regist_process_option_div1{float:left;padding:0 40px 0 15px;text-align:left;font-size:14px;background-image: url(../imgs/navi_s_p_300_title_arrow.gif);background-repeat: no-repeat;	background-position: left center;}
.regist_process_option_div2{float:left;padding:0 40px 0 0;text-align:left;font-size:14px;}
.regist_process_title{width:758px; float:left;padding:20px;text-align:left;font-size:18px;color:#4989b5;}
.regist_process_title_b{width:758px; float:left;padding:10px 20px 0 20px;text-align:left;font-size:24px;color:#4989b5;font-weight:bold;}
.regist_process_notice{width:758px; float:left;padding:0 20px;text-align:left;font-size:12px;}
.regist_process_step{width:798px; float:left;padding:0;text-align:center;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;background-image: url(../imgs/reg_p_step_bg.gif);background-repeat: repeat-x;background-position: center top;}
.regist_p_c_1{float:left;width:10px;height:31px;padding:0 0 20px 0;background-image: url(../imgs/reg_p_step_1a.gif);background-repeat: no-repeat;background-position: center bottom;}
.regist_p_c_2{float:left;width:144px;height:31px;padding:0 0 20px 0;background-image: url(../imgs/reg_p_step_2a.gif);background-repeat: no-repeat;background-position: center bottom;}
.regist_p_c_2b{float:left;width:144px;height:31px;padding:0 0 20px 0;background-image: url(../imgs/reg_p_step_2b.gif);background-repeat: no-repeat;background-position: center bottom;}
.regist_p_c_2c{float:left;width:144px;height:31px;padding:0 0 20px 0;background-image: url(../imgs/reg_p_step_2c.gif);background-repeat: no-repeat;background-position: center bottom;}
.regist_p_c_final{float:left;width:10px;height:31px;padding:0 0 20px 0;background-image: url(../imgs/reg_p_step_3a.gif);background-repeat: no-repeat;background-position: center bottom;}
.regist_p_c_finalb{float:left;width:10px;height:31px;padding:0 0 20px 0;background-image: url(../imgs/reg_p_step_3b.gif);background-repeat: no-repeat;background-position: center bottom;}



.regist_process_main{width:748px; float:left;padding:25px;border-left: 1px solid #d4d4d4;border-right: 1px solid #d4d4d4;}
.regist_process_main2{width:748px;float:left;padding:25px;border-left: 1px solid #d4d4d4;border-right: 1px solid #d4d4d4;background-image: url(/active_account/imgs/reg_p_mainbg.gif);background-repeat: no-repeat;background-position: center top;}
.regist_process_m_title{width:728px;float:left;padding:0 10px;text-align:left;line-height:30px;font-size:14px;background-color:#efefef;}
.regist_process_m_title_notice{width:728px;float:left;padding:10px;text-align:left;line-height:14px;font-size:12px;background-color:#efefef;color:#996633;}
.regist_process_m_word{width:728px;float:left;padding:0 10px;text-align:left;line-height:30px;font-size:12px;}
.regist_process_m_w600{width:600px;line-height:30px;float:left;text-align:left;font-weight:bold;color:#666;font-size:12px;}
.regist_process_m_w600 span{font-weight:normal;color:#999;}
.regist_process_m_w128{width:128px;line-height:30px;float:left;text-align:left;}
.regist_process_bottom{width:800px; float:left;padding:0;}
.regist_process_copyright{width:800px; float:left;padding:10px 0 30px 0;color:#999;font-size:12px;}

.reg_p_logo{float:left;width:205px;height:65px;background-image: url(../imgs/registration_process_logo.gif);background-repeat: no-repeat;background-position: left top;}
.reg_p_wellcome{float:right;width:540px;height:35px;padding:30px 10px 0 0;color:#888;font-size:12px;text-align:left;line-height:16px;}
.reg_p_wellcome_div1{float:left;width:450px;color:#3276ac;font-size:16px;line-height:20px;}
.reg_p_wellcome_div1_name{font-weight:bold;color:#1b669a;}
.reg_p_wellcome_div1_o{color:#de5091;}
.reg_p_logout{float:left;color:#275f7c;font-size:18px;padding:0 15px 0 0;background-image: url(../imgs/icon/blue_arrow.png);background-repeat: no-repeat;background-position: right center;}
.reg_p_logout a:link {color:#275f7c; text-decoration:none;}
.reg_p_logout a:visited {color:#275f7c;text-decoration:none;}
.reg_p_logout a:hover {color: #275f7c;text-decoration:underline;}
.reg_p_logout a:active {color: #275f7c;text-decoration: none;}
.reg_p_m_input_center{width:748px; float:left;text-align:center;}
.reg_p_m_section{width:748px; float:left;text-align:left;}
.reg_p_m_section_div130{float:left;width:130px;text-align:left;font-weight:bold;color:#666;line-height:30px;}
.reg_p_m_section_div130b{float:left;width:130px;text-align:left;color:#666;line-height:30px;}
.reg_p_m_section_div240{float:left;width:240px;text-align:left;color:#666;line-height:30px;}
.reg_p_m_section_div500{float:left;width:500px;text-align:left;color:#666;line-height:30px;border:1px solid #ccc;padding:10px; background-color:#f3f3f3;}
.reg_p_m_section_div500_div120{float:left;width:120px;height:30px;}
.reg_p_m_section_div500_div360{float:left;width:360px;height:30px;}


.reg_p_m_section_div610{float:left;width:610px;text-align:left;color:#666;line-height:30px;}
.reg_p_m_section_div610_title{float:left;width:610px;color:#663300;font-weight:bold;}
.reg_p_m_section_div610 span{color:#cc0000;}
.reg_p_m_section_div610b{float:left;width:610px;text-align:left;font-size:14px;font-weight:bold;color:#990000;line-height:30px;}
.reg_p_m_section_div610b a:link {color:#990000; text-decoration:none;}
.reg_p_m_section_div610b a:visited {color:#990000;text-decoration:none;}
.reg_p_m_section_div610b a:hover {color: #990000;text-decoration:underline;}
.reg_p_m_section_div610b a:active {color: #990000;text-decoration: none;}
.reg_p_m_section_div745{float:left;width:745px;text-align:left;font-weight:bold;color:#666;line-height:30px;border-bottom:1px dashed #ccc;}
.reg_p_m_section_div745b{float:left;width:745px;text-align:left;font-weight:bold;color:#666;line-height:30px;}
.reg_p_m_section_div745c{float:left;width:745px;text-align:left;color:#990000;line-height:24px;}
.reg_p_m_section_div745d{float:left;width:745px;text-align:left;color:#666;line-height:30px;}
.reg_p_m_section_div745d span{color:#cc0000;}
.reg_p_m_section_745_title_1{float:left;width:745px;text-align:left;color:#666;line-height:30px;font-size:18px;}
.reg_p_m_section_745_title_2{float:left;width:745px;text-align:left;color:#999;line-height:18px;}
.reg_p_m_section_745_title_3{float:left;width:745px;text-align:left;color:#3276ac;line-height:30px;font-size:14px;}
.reg_p_m_section_745_btn_c{float:left;width:745px;text-align:center;}

.reg_p_m_s_personlist{float:left;width:745px;padding:10px 0;border-bottom:1px dashed #ccc;}
.reg_p_m_s_personlist_s{float:left;width:25px;height:60px;line-height:60px;}
.reg_p_m_s_personlist_p{float:left;border:1px solid #ccc;padding:4px;}
.reg_p_m_s_personlist_p img{float:left;width:50px;}
.reg_p_m_s_personlist_w{float:left;width:650px;padding:0 0 0 10px;}
.reg_p_m_s_personlist_w1{font-weight:bold;color:#333;line-height:24px;font-size:14px;}
.reg_p_m_s_personlist_w2{color:#999;line-height:18px;font-size:12px;}


.reg_p_m_section_left365{float:left;width:365px;}
.reg_p_m_s_left365_title{float:left;width:365px;text-align:left;font-weight:bold;color:#666;line-height:30px;border-bottom:1px dashed #ccc;}
.reg_p_m_s_left365_list{float:left;width:365px;height:290px;overflow-y:scroll}
.reg_p_m_s_left365_list_a{float:left;width:335px;padding:5px;}
.reg_p_m_s_left365_list_a_l{float:left;border:1px solid #ccc;padding:4px;}
.reg_p_m_s_left365_list_a_l img{float:left;width:50px;}
.reg_p_m_s_left365_list_a_r{float:right;width:260px;font-size:12px;font-weight:bold;color:#666;}
.reg_p_m_s_left365_list_a:hover{background-color: #f4f4f4;cursor:pointer;background-image: url(../imgs/reg_p_step_2_listbg.gif);background-repeat: no-repeat;background-position: right center;}
.reg_p_m_s_left365_list_a_select{background-color: #f4f4f4;cursor:pointer;background-image: url(../imgs/reg_p_step_2_listbg.gif);background-repeat: no-repeat;background-position: right center;}

.reg_p_m_s_left365_list_b{float:left;width:335px;padding:5px;}
.reg_p_m_s_left365_list_b_l{float:left;width:90px;}
.reg_p_m_s_left365_list_b_r{float:right;width:235px;font-size:12px;color:#999;}

.reg_p_m_section_right365{float:right;width:365px;}
.reg_p_m_s_right365_title{float:left;width:365px;text-align:left;font-weight:bold;color:#666;line-height:30px;border-bottom:1px dashed #ccc;}
.reg_p_m_s_right365_list{float:left;width:365px;line-height:24px;}
.reg_p_m_s_right365_list span{color:#3276ac;}

.reg_p_m_s_right365_list_b{float:left;width:270px;height:100px;padding:10px;background-image: url(../imgs/reg_p_step_4_bg.gif);background-repeat: no-repeat;background-position: center center;color:#663333}


.reg_p_input240{width:240px;height:20px;border-top: 1px solid #aaaaaa;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;border-left: 1px solid #aaaaaa;line-height:20px;font-size:12px;color:#666;background-color: #FFF;}

.reg_p_input320{width:320px;height:20px;border-top: 1px solid #aaaaaa;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;border-left: 1px solid #aaaaaa;line-height:20px;font-size:12px;color:#666;background-color: #FFF;}

.reg_p_input150{width:150px;height:20px;border-top: 1px solid #aaaaaa;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;border-left: 1px solid #aaaaaa;line-height:20px;font-size:12px;color:#666;background-color: #FFF;}

.reg_p_textare450{width:450px;height:80px;border-top: 1px solid #aaaaaa;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;border-left: 1px solid #aaaaaa;line-height:20px;font-size:12px;color:#666;background-color: #FFF;}

.reg_p_btn92x33green{width:92px;height:33px;border: 0px;line-height:20px;font-size:18px;color:#fff;font-weight:bold;background-color: #FFF;background-image: url(../imgs/reg_p_btn_green.gif);	background-repeat: no-repeat;background-position: center center;cursor:pointer;font-family: Arial, Helvetica, sans-serif;}

.reg_p_btn92x33gray{width:92px;height:33px;border: 0px;line-height:20px;font-size:18px;color:#fff;font-weight:bold;background-color: #FFF;background-image: url(../imgs/reg_p_btn_gray.gif);	background-repeat: no-repeat;background-position: center center;cursor:pointer;font-family: Arial, Helvetica, sans-serif;}

.reg_p_btn152x33green{width:152px;height:33px;border: 0px;line-height:20px;font-size:18px;color:#fff;font-weight:bold;background-color: #FFF;background-image: url(../imgs/reg_p_btn_green2.gif);	background-repeat: no-repeat;background-position: center center;cursor:pointer;font-family: Arial, Helvetica, sans-serif;}


.reg_step1{width:748px;float:left;text-align:left;padding:15px 20px 0 20px;background-image: url(../imgs/registration_bg1.png);background-repeat: no-repeat;background-position: center top;}
.reg_step1_title{width:728px;float:left;text-align:left;padding:0 0 15px 20px;color:#999;font-size:16px;font-weight:bold;}

.reg_step1_div248{width:248px;height:300px;float:left;text-align:left;padding:0;line-height:14px;color:#999;}
.reg_step1_248_content{width:200px;height:220px;float:left;text-align:left;line-height:14px;color:#999;padding:14px 10px 10px 14px;}
.reg_step1_248_content span{font-size:14px;color:#3276ac;font-weight:bold;line-height:18px;}
.reg_step1_248_content:hover{color:#666;cursor:pointer;width:200px;border:1px #e4e4e4 solid;padding:10px; background-color:#f4f4f4;}
.reg_step1_248_content:hover span{color:#314d63;}

.reg_step1_div248b{width:248px;height:300px;float:left;text-align:left;padding:0;line-height:14px;color:#999;cursor:pointer;}
.reg_step1_248b_content{width:200px;height:220px;float:left;text-align:left;line-height:14px;color:#666;border:1px #e4e4e4 solid;padding:10px; background-color:#f4f4f4;}
.reg_step1_248b_content span{font-size:14px;color:#314d63;font-weight:bold;line-height:18px;}

.reg_step2{width:600px;float:left;text-align:left;padding:0 0 0 160px;}
.reg_step2_div550{float:left;width:600px;color:#999;}
.reg_step2_div550 a:link {color:#3276ac; text-decoration:none;}
.reg_step2_div550 a:visited {color:#3276ac;text-decoration:none;}
.reg_step2_div550 a:hover {color: #3276ac;text-decoration:underline;}
.reg_step2_div550 a:active {color: #3276ac;text-decoration: none;}
.reg_step2_div150{width:150px;float:left;text-align:left;font-size:14px;color:#666;line-height:30px;}
.reg_step2_div420_blue{width:420px;float:left;text-align:left;font-size:14px;color:#3276ac;line-height:30px;}
.reg_step2_div420_red{width:420px;float:left;text-align:left;font-size:12px;color:#bd3f0e;line-height:30px;}

/*diversity table*/
.diversity_main {float:left;padding:0 0 0 130px;}
.diversity_table {float:left;}
.diversity_table ul li {clear:both;float:left;width:auto;}
.diversity_title {float:left;font-size:11px;line-height:14px;color:#666;}
.diversity_title span {color:#666;padding:0 20px 0 0;}
.diversity_notice {float:left;font-size:11px;font-weight:bold;line-height:14px;color:#8b451b;}
.diversity_input {float:left;width:100%;}
.diversity_input_table {float:left;width:350px;border:1px solid #ccc;padding:9px;margin-bottom:5px;}
.diversity_input_table div {float:left;}
.diversity_input_table_title {float:left;width:120px;padding:0 10px 0 0;color:#666;}
.input140 {width:140px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;}
.input240 {width:240px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;}


/*upload file*/
.reg_p_m_section_filetable{float:left;width:745px;text-align:left;}
.reg_p_m_section_filetable li{float:left;width:745px;padding:0 0 10px 0;}
.filetable {float:left;padding:3px 3px 3px 6px;border:1px #ccc solid;color:#333;font-size:11px;line_height:16px;}
.filetable span {float:right;padding:4px 2px 0 15px;}