/*main*/
body {margin:0;padding:0;text-align:center;font-family: Arial, Helvetica, sans-serif;background-image: url(../imgs/email/email_body_bg.gif);background-repeat: repeat;}

input {font-family: Arial, Helvetica, sans-serif;}
ul{list-style:none;margin:0;padding:0;}

div, li{word-wrap:break-word;}
.hide { display:none;}


.space40{float:left;width:100%;height:40px;}
.space30{float:left;width:100%;height:30px;}
.space20{float:left;width:100%;height:20px;}
.space10{float:left;width:100%;height:10px;}
.hr100 { float:left;width:100%;height:0; border:0;border-top:1px dashed #cccccc;}

.div600 {margin:0 auto;height: auto;width: 600px;}

.email_top {float:left;width:600px;}
.email_top_left {float:left;height:94px;}
.email_top_right {float:right;font-size:12px;font-weight:bold;line-height:24px;padding:70px 10px 0 0;}
.email_top_right a:link {color:#436c87; text-decoration:none;}
.email_top_right a:visited {color:#436c87;text-decoration:none;}
.email_top_right a:hover {color: #436c87;text-decoration:underline;}
.email_top_right a:active {color: #436c87;text-decoration: none;}

.email_main {float:left;width:594px;border:3px solid #95aab8;background-color:#fff;}
.email_name_title {float:left;width:577px;height:60px;padding:0 0 0 17px;color:#5d839e;font-size:18px;line-height:60px;text-align:left;background-image: url(../imgs/email/email_username_bg.gif);background-repeat: repeat-x;background-position: top;}
.email_content {float:left;width:560px;padding:20px 17px;}
.word_big_blue {float:left;width:560px;color:#666;font-size:16px;line-height:24px;font-weight:normal;text-align:left;padding:10px 0 15px 0;}
.tradove {color:#4e84a9;}
.tradove a:link {color:#4e84a9; text-decoration:none;}
.tradove a:visited {color:#4e84a9;text-decoration:none;}
.tradove a:hover {color: #4e84a9;text-decoration:underline;}
.tradove a:active {color: #4e84a9;text-decoration: none;}
.word_mid_gray {float:left;width:560px;color:#666;font-size:12px;line-height:18px;text-align:left;padding:5px 0;}
.word_mid_gray_title {font-weight:bold;line-height:30px;}
.word_mid_gray_content {line-height:24px;}
.btn_center {float:left;width:560px;text-align:center;height:60px;}
.btn_center a:link {color:#fff; text-decoration:none;}
.btn_center a:visited {color:#fff;text-decoration:none;}
.btn_center a:hover {color: #fff;text-decoration:none;}
.btn_center a:active {color: #fff;text-decoration: none;}
.word_s_gray {float:left;width:560px;color:#999;font-size:12px;line-height:14px;text-align:left;padding:5px 0;}
.word_s_red {float:left;width:560px;color:#993333;font-size:12px;line-height:14px;text-align:left;padding:5px 0;}
.word_s_red a:link {color:#436c87; text-decoration:none;}
.word_s_red a:visited {color:#436c87;text-decoration:none;}
.word_s_red a:hover {color: #436c87;text-decoration:underline;}
.word_s_red a:active {color: #436c87;text-decoration: none;}
.word_address {float:left;width:560px;color:#666;font-size:12px;line-height:14px;text-align:left;padding:0;}

.copyright {float:left;width:597px;padding:10px 0 30px 3px;}
.copyright_word {float:left;width:590px;color:#666;font-size:12px;line-height:18px;text-align:left;}


.btn_blue190x60{height:60px;width:auto;border:0;padding:0 30px;margin:0;color:#fff;font-size: 18px;font-weight: bold;background-image: url(../imgs/email/email_big_blue_btn_a.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.btn_blue190x60:hover{background-image: url(../imgs/email/email_big_blue_btn_b.gif);}

