
.industry_main_div {
    background-color: #fff;
    height: auto;
    width: 460px;
    padding: 15px 6px 10px 6px;
    position: absolute;
    margin: -68px 0 0 50px;
    float: left;
    z-index: 9999;
    border-radius: 12px;
    border: 3px solid #e4e4e4;
	font-weight:normal;
}
.input_industry {width:300px;height:20px;padding:2px;border:0px; background-color:#fff;color:#777;font-size:12px;font-weight:normal;outline:none;}
.industry_current {
    float: left;
    width: 415px;
	text-align:left;
    padding: 0 5px 4px 5px;
	color: #666;
	font-size: 12px;
	line-height:16px;
	overflow:hidden;
}
.industry_current span {
	float: none;
	font-weight:normal;
	font-size: 12px;
	line-height:16px;
	color: #999;
}
.industry_current_confirm {
    float: left;
    width: 60px;
    height: 18px;
    padding: 0 0 10px 0;
}
.industry_current_confirm img {
    float: left;
	margin-left:10px;
	cursor:pointer;
}
.industry_searchinput {
    float: left;
    width: 450px;
    height: 24px;
    padding: 3px;
    border: 1px #e4e4e4 solid;
    border-radius: 6px;
	text-align:left;
    background-image: url(../imgs/icon/icon_search_big_white.png);
    background-position: 567px center;
    background-repeat: no-repeat;
}
.industry_result {
    float: left;
    width:452px;
    background-color:#fbfbfb;
    border:1px solid #efefef;
    border-radius: 6px;
    padding:10px 0 10px 5px;
    height: 220px;
}
.industry_result_overflow {
    float: left;
    width: 447px;
    overflow-y:scroll;
    overflow-x:hidden;
    height:220px;
}
.industry_result_1 {
	float: left;
	width: 400px;
	font-size: 12px;
	text-align: left;
	color: #777;
	line-height: 13px;
	padding: 8px 20px 2px 5px;
	background-image: url(../imgs/icon/green_arrow.png);
	background-position: 99% center;
	background-repeat: no-repeat;
	cursor: pointer;
	border-bottom:1px dashed #e4e4e4;
}
.industry_result_1:hover {
    color:#555;
    background-color:#efefef;
	background-image: url(../imgs/icon/green_arrow.png);
	background-position: 99% center;
	background-repeat: no-repeat;
}
.industry_result_2 {
	float: left;
	width: 425px;
	font-size: 12px;
	text-align: left;
	color: #777;
	line-height: 13px;
	padding: 8px 5px 2px 5px;
	cursor: pointer;
	border-bottom:1px dashed #e4e4e4;
}
.industry_result_2:hover {
    color:#555;
    background-color:#efefef;
}
.industry_result_2nd {
    float: left;
    width:380px;
    background-color:#fbfbfb;
    border:3px solid #ddd;
    border-radius: 6px;
    padding:0px;
    height: 240px;
    position: absolute;
	margin-top:-12px;
	margin-left:405px;
}
.industry_result_overflow_2nd {
    float: left;
    width: 380px;
    height:190px;
	padding:6px 0 0 0;
    overflow-y:scroll;
    overflow-x:hidden;
}
.industry_result_2nd_title {
	float: left;
	width: 360px;
	font-size: 12px;
	text-align: left;
	color: #fff;
	line-height: 30px;
	height:28px;
	overflow:hidden;
	padding: 0 10px 0 10px;
    border-radius: 4px;
	cursor: pointer;
	background-color:#999;
}
.industry_result_2nd_1 {
	float: left;
	width: 340px;
	font-size: 12px;
	text-align: left;
	color: #777;
	line-height: 13px;
	padding: 8px 0px 2px 20px;
	background-image: url(../imgs/icon/green_arrow_left.png);
	background-position: 1% center;
	background-repeat: no-repeat;
	cursor: pointer;
	border-bottom:1px dashed #e4e4e4;
}
.industry_result_2nd_1:hover {
    color:#555;
    background-color:#efefef;
	background-image: url(../imgs/icon/green_arrow_left.png);
	background-position: 1% center;
	background-repeat: no-repeat;
}
.industry_result_2nd_2 {
	float: left;
	width: 340px;
	font-size: 12px;
	text-align: left;
	color: #777;
	line-height: 13px;
	padding: 8px 0 2px 20px;
	cursor: pointer;
	border-bottom:1px dashed #e4e4e4;
}
.industry_result_2nd_2:hover {
    color:#555;
    background-color:#efefef;
}
.industry_result_3nd {
    float: left;
    width:380px;
    background-color:#fbfbfb;
    border:3px solid #eee;
    border-radius: 6px;
    padding:0px;
    height: 230px;
    position: absolute;
	margin-top:0px;
	margin-left:40px;
}

.industry_search_overflow {
    float: left;
    width: 447px;
    overflow-y:scroll;
    overflow-x:hidden;
    height:220px;
	padding:6px 0 0 0;
}
.industry_search_overflow_1 {
	float: left;
	width: 419px;
	font-size: 12px;
	text-align: left;
	color: #777;
	line-height: 13px;
	padding: 8px 0px 2px 5px;
	cursor: pointer;
	border-bottom:1px dashed #e4e4e4;
}
.industry_search_overflow_1:hover {
    color:#555;
    background-color:#efefef;
}

.space10{float:left;width:100%;height:10px;}

