
/*good reputation*/
.goodreputation {float:left;width:980px; padding:20px 0;text-align:left;border-top:1px solid #efefef;}
.goodreputation2 {float:left;width:980px;height:12px;padding:0;/*background-image: url(../imgs/login_reputation2.gif);background-repeat: no-repeat;background-position: center top;*/}
.login_reputation_title {float:left;width:980px;font-size:16px;color:#666;padding:0 0 10px 0;}
.login_reputation_title a:link {color:#336699; text-decoration:underline;}
.login_reputation_title a:visited {color:#336699;text-decoration:underline;}
.login_reputation_title a:hover {color: #336699;text-decoration:none;}
.login_reputation_title a:active {color: #336699;text-decoration: underline;}
.login_reputation_content {float:left;width:980px; overflow:hidden;}
.login_reputation_c_l{float:left;width:4650px;}
.login_reputation_c1 {float:left;width:980px;color:#666;}
.login_reputation_c1_name {float:left;width:980px;height:18px;font-size:12px;color:#333;padding:0 0 6px 0;}
.login_reputation_c1_name span {color:#666;padding:0 12px 0 0;}
.login_reputation_c1_word {float:left;width:980px;height:36px;font-size:12px;line-height:18px;padding:0; overflow:hidden;}
.login_leads {float:left;width:980px; padding:20px 20px 30px 0;text-align:left;border-top:1px solid #efefef;}
.login_leads_c_long {float:left;width:4650px;}
.login_leads_c1 {float:left;width:455px;padding:0 10px 0 0;color:#999;}
.login_leads_c1_name {float:left;width:455px;height:18px;font-size:12px;}
.login_leads_c1_name span {color:#666;padding:0 12px 0 0;}
.login_leads_c1_name a:link {color:#4989b5; text-decoration:underline;}
.login_leads_c1_name a:visited {color:#4989b5;text-decoration:underline;}
.login_leads_c1_name a:hover {color: #4989b5;text-decoration:none;}
.login_leads_c1_name a:active {color: #4989b5;text-decoration: underline;}
.login_leads_c1_word {float:left;width:455px;height:36px;font-size:14px;line-height:18px;padding:0; overflow:hidden;}


/*who is in*/
.whoisin_login {float:left;width:980px;padding:10px 0;text-align:left;border-top:1px solid #efefef;}
.who_l_title {float:left;width:980px;font-size:24px;line-height:40px;color:#666;border-bottom:1px dashed #ccc;}
.who_l_title span {color:#275f7c;}
.who_l_content {float:left;width:980px;padding:0;}
.who_l_c_left {float:left;width:350px;padding:10px 0;}
.who_l_c_left li {float:left;width:350px;font-size:12px;line-height:18px;}
.who_l_c_left li span {color:#4e88c8;}
.who_l_c_left li a:link {color:#275f7c; text-decoration:none;}
.who_l_c_left li a:visited {color:#275f7c;text-decoration:none;}
.who_l_c_left li a:hover {color: #275f7c;text-decoration:underline;}
.who_l_c_left li a:active {color: #275f7c;text-decoration: none;}
.who_l_c_right {float:right;padding:18px 0 18px 10px;}
.who_l_c_r_arrow {float:left;}
.who_l_c_r_arrow {float:left;width:22px;height:62px;padding:32px 0 0 0;}
.who_l_c_r_photo {float:left;width:580px;height:96px; overflow:hidden;}

.who_l_c_r_p_all {float:left;width:auto;height:96px;padding:0 10px;}
.who_l_c_r_p_row {float:left;width:95px;margin-right:12px;display:inline;}
.who_l_c_r_p_row .li_a {float:left;width:95px;height:42px;}
.who_l_c_r_p_row .li_a img {border:1px solid #ccc;}
.who_l_c_r_p_row .li_b {float:left;width:95px;height:12px;}


.lgoin_public_980 {float:left;width:980px; padding:20px 0;text-align:left;border-top:1px solid #efefef;}
.login_p_980_title {float:left;width:980px;font-size:18px;color:#666;padding:0 0 14px 0;}
.login_p_980_title a:link {color:#336699; text-decoration:underline;}
.login_p_980_title a:visited {color:#336699;text-decoration:underline;}
.login_p_980_title a:hover {color: #336699;text-decoration:none;}
.login_p_980_title a:active {color: #336699;text-decoration: underline;}
.login_p_980_content {float:left;width:980px; overflow:hidden;}
.login_p_980_c_long {float:left;width:4650px;}
.login_p_980_c1 {float:left;width:480px;padding:0 5px;}
.login_p_980_c1_name {float:left;width:480px;font-size:12px;color:#333;line-height:15px;padding:0 0 10px 0;}
.login_p_980_c1_name a:link {color:#4989b5; text-decoration:underline;}
.login_p_980_c1_name a:visited {color:#4989b5;text-decoration:underline;}
.login_p_980_c1_name a:hover {color: #4989b5;text-decoration:none;}
.login_p_980_c1_name a:active {color: #4989b5;text-decoration: underline;}
.login_p_980_c1_word {float:left;width:480px;height:30px;font-size:12px;line-height:15px;padding:0; overflow:hidden;}

.left_660_login {float:left;width:660px;height:415px;background-image: url(../imgs/login_mainphoto2.jpg);background-repeat: no-repeat;background-position: right top;color:#666;line-height:14px;text-align:left;}
.left_660_login_div1 {float:left;height:60px;width:300px;padding:47px 0 0 260px;}
.left_660_login_div2 {float:left;height:80px;width:280px;padding:28px 0 0 358px;}
.left_660_login_div3 {float:left;height:80px;width:220px;padding:48px 0 0 410px;}


.right_320_login {float:right;width:320px;}
.right_320_login_content {float:left;width:305px;text-align:left;padding:0 0 0 15px;}
.right_320_l_c_div {float:left;width:305px;}
.right_320_l_c_div_border {float:left;width:1px;height:160px;background-image: url(../imgs/login_register_border.gif);background-repeat: no-repeat;background-position: center center;}
.right_320_l_c_div_list {float:left;width:303px;}
.right_320_l_c_div_list a:link {color:#5d79a9; text-decoration:none;}
.right_320_l_c_div_list a:visited {color:#5d79a9;text-decoration:none;}
.right_320_l_c_div_list a:hover {color: #275f7c;text-decoration:underline;}
.right_320_l_c_div_list a:active {color: #5d79a9;text-decoration: none;}
.right_320_l_c_div_list_line {float:left;width:303px;height:19px;background-image: url(../imgs/login_register_border2.gif);background-repeat: no-repeat;background-position: center center;}
.right_320_l_c_div_list_c1 {float:left;width:158px;padding:5px 55px 5px 90px;font-size:12px;line-height:12px;color:#397898;background-repeat: no-repeat;background-position: 58px center;background-image: url(../imgs/icon/icon_note_24.png);}
.right_320_l_c_div_list_c2 {float:left;width:158px;padding:5px 55px 5px 90px;font-size:12px;line-height:12px;color:#397898;background-repeat: no-repeat;background-position: 58px center;background-image: url(../imgs/icon/icon_email_24.png);}
.right_320_l_c_div_list_c3 {float:left;width:158px;padding:5px 55px 5px 90px;font-size:12px;line-height:12px;color:#397898;background-repeat: no-repeat;background-position: 58px center;background-image: url(../imgs/icon/icon_money_24.png);}

.input66_login {width:66px;height:19px;padding:0px;color:#fff;font-size:12px;line-height:17px;text-align:center;font-weight:normal;background-image: url(../imgs/btn_blue_66.gif);background-repeat: no-repeat;	background-position: center center;cursor:pointer;}
.input59_login {width:61px;height:19px;padding:0px;color:#fff;font-size:12px;line-height:17px;text-align:center;font-weight:normal;background-image: url(../imgs/btn_blue_59.gif);background-repeat: no-repeat;	background-position: center center;cursor:pointer;}
.input59_login_orange {float:right;width:61px;height:19px;padding:0px;color:#fff;font-size:12px;line-height:17px;text-align:center;font-weight:normal;background-image: url(../imgs/btn_orange_59.png);background-repeat: no-repeat;	background-position: center center;cursor:pointer;}