/*main*/
body {margin:0;padding:0;text-align:center;font-size:12px;font-family:tahoma,  Arial, sans-serif;color: #666;line-height: 18px; background-color:#f1f5f5;}
.body_login {margin:0;padding:0;text-align:center;font-size:12px;font-family:tahoma,  Arial, sans-serif;color: #666;line-height: 18px;background-color:#fff;}

input {font-family:tahoma,  Arial, sans-serif;}
ul{list-style:none;margin:0;padding:0;}

div, li{word-wrap:break-word;}
.hide { display:none;}
img {border:0;}

a:link {color:#3276ac; text-decoration:underline;}
a:visited {color:#3276ac;text-decoration:underline;}
a:hover {color: #3276ac;text-decoration:none;}
a:active {color: #3276ac;text-decoration: underline;}

.space30{float:left;width:100%;height:30px;}
.space20{float:left;width:100%;height:20px;}
.space10{float:left;width:100%;height:10px;}
.space5{float:left;width:100%;height:5px;}
.hr100 { float:left;width:100%;height:0; border:0;border-top:1px dashed #cccccc;}

.top {background-image: url(../imgs/top_bg_2.gif);background-repeat: repeat-x;background-position: top;height: 106px;width: 100%; position:fixed; top:0px; z-index:9999;}
.top_shadow {background-image: url(../imgs/top_shadow.png);background-repeat: repeat-x;background-position: bottom;height: 110px;width: 100%; position:fixed; top:0px; z-index:9999;}
.middle {height:auto;width: 100%; margin-top:106px;}
.bottom {height:auto;width: 100%;}
.div980 {margin:0 auto;height: auto;width: 980px;}

.upload_file {color:#8b451b;}
.red_word {color:#8b451b;}

/*input*/
.input30 {width:30px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input60 {width:60px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input70 {width:70px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input80 {width:80px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input100 {width:100px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input100_login {width:90px;height:18px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input100_22 {width:90px;height:24px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input140_22b {width:140px;height:22px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input120 {width:120px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input135 {width:135px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input140 {width:140px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input180 {width:180px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input180_red {width:180px;height:20px;padding:0px;border:1px #5c2e22 solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input240 {width:240px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input280 {width:280px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input300 {width:300px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input350 {width:350px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input400 {width:400px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input430 {width:430px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input450_22 {width:450px;height:22px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.input460 {width:460px;height:20px;padding:0px;border:1px #ccc solid; background-color:#fff;color:#777;font-size:12px;font-weight:normal;}
.input500 {width:500px;height:20px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}

/*input*/
.textarea240 {width:240px;height:100px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.textarea300 {width:300px;height:100px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.textarea350 {width:350px;height:100px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.textarea380b {width:380px;height:50px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.textarea400 {width:400px;height:100px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.textarea470 {width:470px;height:100px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.textarea470b {width:470px;height:50px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.textarea500 {width:500px;height:100px;padding:0px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}


/*button*/
.btn_gray_22_login {height:22px;line-height:12px;padding:0 10px;font-size:12px;border:1px #bcbcbc solid;color:#666;background-image: url(../imgs/btn_bg_Gray_22.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.btn_gray_22_login:hover {background-image: url(../imgs/btn_bg_Gray_22b.gif);color:#444;}

.btn_gray_22_login_2 {height:20px;line-height:12px;padding:0 10px;font-size:12px;border:1px #bcbcbc solid;color:#666;background-image: url(../imgs/btn_bg_Gray_22.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.btn_gray_22_login_2 {background-image: url(../imgs/btn_bg_Gray_22b.gif);color:#444;}

.btn_gray_22 {height:24px;line-height:12px;padding:0 10px;font-size:12px;border:1px #bcbcbc solid;color:#666;background-image: url(../imgs/btn_bg_Gray_22.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.btn_gray_22:hover {background-image: url(../imgs/btn_bg_Gray_22b.gif);color:#444;}

.btn_blue_22 {height:24px;line-height:12px;padding:0 10px;font-size:12px;border:1px #b2d3ea solid;color:#4989b5;background-image: url(../imgs/btn_bg_blue_22.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.btn_blue_22:hover {background-image: url(../imgs/btn_bg_blue_22b.gif);color:#275f7c;}

.btn_close16{height:16px;width:16px;border:0;padding:0 10px;margin:0;color:#333333;font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 22px;font-weight: bold;background-image: url(../imgs/icon/icon_delete_12px.png);background-repeat: no-repeat;background-position: center center;cursor:pointer;}

.btn_ashy60{height:22px;width:60px;border:0;padding:0;margin:0;color:#333333;font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 22px;font-weight: bold;background-image: url(../imgs/btn_ashy60_bg.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.btn_ashy60:hover{background-image: url(../imgs/btn_ashy60_bgb.gif);cursor:pointer;}

.btn_ashy160{height:22px;width:160px;border:0;padding:0;margin:0;color:#333333;font-family: Arial, Helvetica, sans-serif;font-size: 12px;line-height: 22px;font-weight: bold;background-image: url(../imgs/btn_ashy160_bg.gif);background-repeat: repeat-x;background-position: top;cursor:pointer;}
.btn_ashy160:hover{background-image: url(../imgs/btn_ashy160_bgb.gif);cursor:pointer;}


.btn_disable{height:24px;line-height:12px;padding:0 10px;font-size:12px;border:1px #ddd solid;color:#aaa;background-color:#fff;}

.type-file-box{ position:relative;width:340px;vertical-align:middle;}
.type-file-text{ height:20px; border:1px solid #cdcdcd;width:260px;vertical-align:middle;}
.type-file-button{font-size:11px;background-color:#FFF;border:1px solid #CDCDCD;height:22px; width:70px;vertical-align:middle;color:#333;font-weight:bold;background-image: url(../imgs/btn_ashy70x22_bg.gif);background-repeat: repeat-x;background-position: top;}
.type-file-file{ position:absolute; margin-left:-70px;z-index:1000;height:22px; filter:alpha(opacity:0);opacity:0;width:70px; vertical-align:middle; cursor:pointer;}

.type-file-box-short{ position:relative;width:140px;vertical-align:middle;}
.type-file-text-short{ height:20px; border:1px solid #cdcdcd;width:160px;vertical-align:middle;}
.type-file-button-short{font-size:11px;background-color:#FFF;border:1px solid #CDCDCD;height:22px; width:60px;vertical-align:middle;color:#333;font-weight:bold;background-image: url(../imgs/btn_ashy70x22_bg.gif);background-repeat: repeat-x;background-position: top;}
.type-file-file-short{ position:absolute; margin-left:-60px;z-index:1000;height:22px; filter:alpha(opacity:0);opacity:0;width:60px; vertical-align:middle; cursor:pointer;}

/*industry select*/
.pop_industry_input390 {width:386px;height:20px;padding:2px;border:1px #ccc solid; background-color:#f5f5f5;color:#666;font-size:12px;font-weight:normal;}
.industry_select_all {float:left;width:400px;background-color:#fff;;background-image: url(../imgs/industry-select-mid.gif);background-repeat: repeat-y;	background-position: center}
.industry_select_current {float:left;width:390px;color:#999;line-height:14px;padding:8px 5px;background-image: url(../imgs/industry-select-top.gif);background-repeat: no-repeat;	background-position: center top;}
.industry_select_input {float:left;width:392px;padding:0 4px;}
.industry_select_option {float:left;width:392px;height:250px;overflow-y:scroll;overflow-x:hidden;padding:0 0 0 4px;}
.industry_select_option1 {float:left;width:367px;line-height:14px;padding:8px 4px;background-color:#f4f4f4;cursor:pointer;}
.industry_select_option1:hover {background-color:#6699cc;color:#fff;}
.industry_select_option2 {float:left;width:357px;line-height:14px;padding:6px 4px 6px 14px;background-color:#dfdfdf;cursor:pointer;}
.industry_select_option2:hover {background-color:#6699cc;color:#fff;}
.industry_select_option3 {float:left;width:341px;line-height:14px;padding:4px 4px 4px 30px;background-color:#cccccc;cursor:pointer;}
.industry_select_option3:hover {background-color:#6699cc;color:#fff;}
.industry_select_bottom {float:left;width:400px;height:20px;background-image: url(../imgs/industry-select-bottom.gif);background-repeat: no-repeat;	background-position: center bottom;}
.industry_select_search {float:left;width:392px;height:250px;overflow-y:scroll;overflow-x:hidden;padding:0 0 0 4px;}
.industry_select_search1 {float:left;width:367px;font-weight:bold;color:#333;line-height:14px;padding:8px 4px;cursor:pointer;}
.industry_select_search1:hover {background-color:#6699cc;color:#fff;}
.industry_select_search2 {float:left;width:357px;color:#333;line-height:14px;padding:6px 4px 6px 14px;cursor:pointer;}
.industry_select_search2:hover {background-color:#6699cc;color:#fff;}
.industry_select_search3 {float:left;width:341px;color:#999;line-height:14px;padding:4px 4px 4px 30px;cursor:pointer;}
.industry_select_search3:hover {background-color:#6699cc;color:#fff;}


/*pop*/

.pop_width500 {float:left;position:absolute;width:500px;}
.pop_width500_title {width:480px;padding:0 10px;line-height:30px;font-size:14px;color:#666;background-color:#eee;border:3px #666 solid;border-bottom:0px;text-align:left;background-image: url(../imgs/pop_title_bg.gif);background-repeat: repeat-x;background-position: top;}
.pop_width500_title span {float:right;padding:8px 0 0 0;}
.pop_width500_content {float:left;width:480px;padding:10px; background-color:#fff;border:3px #666 solid;border-top:0px;text-align:left;}
.pop_500_c_search {float:left;width:470px;padding:3px 0 3px 10px;background-color:#efefef}
.pop_500_c_search .div305 {float:left;width:305px;padding:0;}
.pop_500_c_search .div130 {float:left;width:auto;padding:0 5px 0 0;line-height:21px;font-weight:bold;font-size:11px;}
.pop_500_c_search .div40 {float:left;width:40px;padding:0;}
.pop_500_c_search .div40 img {cursor:pointer;}
.pop_500_c_index {float:left;width:480px;padding:10px 0 7px 10px;line-height:18px;color:#999;}
.pop_500_c_index a:link {color:#4989b5; text-decoration:none;}
.pop_500_c_index a:visited {color:#4989b5;text-decoration:none;}
.pop_500_c_index a:hover {color: #4989b5;text-decoration:underline;}
.pop_500_c_index a:active {color: #4989b5;text-decoration: none;}
.pop_500_c_index2 {float:left;width:480px;padding:10px 0 0 10px;font-size:14px;line-height:24px;color:#333;border-bottom:1px solid #efefef;}
.pop_500_c_index2_option {float:left;padding:0 40px 7px 0;height:24px;color:#4989b5;}
.pop_500_c_index2_option:hover {float:left;color:#4989b5;cursor:pointer;background-image: url(../imgs/icon/black_arrow_bottom.png);background-repeat: no-repeat;background-position: 20px bottom;}
.pop_500_c_index2_select {float:left;padding:0 40px 7px 0;height:24px;color:#666;background-image: url(../imgs/icon/black_arrow_bottom.png);background-repeat: no-repeat;background-position: 20px bottom}
.pop_500_c_list {float:left;width:478px;height:240px;padding:0;overflow-y:scroll;border:1px solid #ccc;}
.pop_500_c_list_section {float:left;width:205px;height:50px;padding:5px 5px 4px 5px;margin-left:10px;margin-top:10px;overflow:hidden;border:1px solid #efefef;cursor:pointer;}
.pop_500_c_list_section:hover { background-color:#f4f4f4;border:1px solid #e4e4e4;}
.pop_500_c_list_section_left {float:left;width:55px;}
.pop_500_c_list_section_left img {max-width:50px;max-height:50px;}
.pop_500_c_list_section_right {float:left;width:150px;}
.pop_500_c_list_section_right li {float:left;width:150px;line-height:13px;color:#999;font-size:12px;}
.pop_500_c_list_section_right li span {color:#4989b5;font-size:12px;line-height:13px;}
.pop_500_c_list_choice {float:left;width:480px;max-height:80px;padding:10px 0 0 0;overflow-y:auto;}
.pop_500_c_list_choice .title {float:left;padding:0 10px 0 0;color:#666;font-weight:bold;}
.pop_500_c_list_choice .diva {float:left;padding:1px 10px 3px 0;}
.pop_500_c_list_choice .diva span {float:left;padding:3px 5px;font-size:11px;line-height:10px;color:#304859;font-weight:normal;border:1px solid #7c95a6;background-color:#cbeaff;}
.pop_500_c_list_btn {float:left;width:480px;padding:5px 0 0 0;text-align:center;border-top:1px dashed #ccc;}

.pop_500_c_list_section2 {float:left;width:205px;height:24px;padding:5px;margin-left:10px;margin-top:10px;overflow:hidden;border-bottom:1px dashed #efefef;}


.pop_width450 {float:left;position:absolute;width:450px;}
.pop_width450_title {width:430px;padding:0 10px;line-height:30px;font-size:14px;color:#666;background-color:#eee;border:3px #666 solid;border-bottom:0px;text-align:left;background-image: url(../imgs/pop_title_bg.gif);background-repeat: repeat-x;background-position: top;}
.pop_width450_title span {float:right;padding:8px 0 0 0;}
.pop_width450_content {float:left;width:430px;padding:10px; background-color:#fff;border:3px #666 solid;border-top:0px;text-align:left;}
.pop_width450_content .li430 {float:left;width:430px;color:#999;}
.pop_width450_content .li430 span {color:#993300;line-height:24px;}
.pop_width450_content .li430 .div100 {float:left;width:80px;padding:0 10px 0 0;text-align:right;height:30px;line-height:30px;color:#666;}
.pop_width450_content .li430 .div380 {float:left;width:340px;line-height:30px;}
.pop_width450_content .li430 .div380b {float:left;width:340px;padding:0 0 0 90px;}
.pop_width450_content .li430 .div380b span {color:#7d3a2d;}
.pop_width450_content .li430 .div120 {float:left;width:120px;padding:0 10px 0 0;text-align:right;height:30px;line-height:30px;color:#666;}
.pop_width450_content .li430 .div300 {float:left;width:300px;line-height:30px;}
.pop_width450_content .li430 .div300b {float:left;width:300px;padding:0 0 0 130px;}
.pop_width450_content .li430 .div300b span {color:#7d3a2d;}

.pop_width400 {float:left;position:absolute;width:400px;}
.pop_width400_title {width:380px;padding:0 10px;line-height:30px;font-size:14px;color:#666;background-color:#eee;border:3px #666 solid;border-bottom:0px;text-align:left;background-image: url(../imgs/pop_title_bg.gif);background-repeat: repeat-x;background-position: top;}
.pop_width400_title span {float:right;padding:8px 0 0 0;}
.pop_width400_content {float:left;width:380px;padding:20px 10px; background-color:#fff;border:3px #666 solid;border-top:0px;text-align:left;}
.pop_width400_content .li380 {float:left;width:380px;color:#666;}
.pop_width400_content .li380 span {color:#666;font-weight:bold;}
.pop_width400_content .li380b {float:left;width:380px;color:#999;padding:0 0 6px 0;}
.pop_width400_content .li380b .div70 {float:left;width:70px;line-height:24px;}
.pop_width400_content .li380b .div90 {float:left;width:90px;line-height:24px;}
.pop_width400_content .li380b .divinput {float:left;padding:0 20px 0 0;line-height:24px;}
.pop_width400_content .li380b .divinput310 {float:left;width:310px;}
.pop_width400_content .li380btn {float:left;width:380px;text-align:center;}
.pop_width400_content .li380red {float:left;width:380px;color:#8b451b;ling-height:14px;}


.pop_width550 {float:left;position:absolute;width:550px;}
.pop_width550_title {width:530px;padding:0 10px;line-height:30px;font-size:14px;color:#666;background-color:#eee;border:3px #666 solid;border-bottom:0px;text-align:left;background-image: url(../imgs/pop_title_bg.gif);background-repeat: repeat-x;background-position: top;}
.pop_width550_title span {float:right;padding:8px 0 0 0;}
.pop_width550_content {float:left;width:530px;padding:10px; background-color:#fff;border:3px #666 solid;border-top:0px;text-align:left;}
.pop_width550_content .li530 {float:left;width:530px;color:#999;}
.pop_width550_content .li530 .div140 {float:left;width:130px;padding:0 10px 0 0;text-align:right;height:30px;line-height:30px;color:#666;}
.pop_width550_content .li530 .div380 {float:left;width:330px;line-height:30px;}
.pop_width550_content .li530 .div380b {float:left;width:330px;padding:0 0 0 140px;}
.pop_width550_content .li530 .div380b span {color:#7d3a2d;}
.pop_width550_content .li530 .div100 {float:left;width:105px;line-height:24px;}
.pop_width550_content .li530 .divinput {float:left;width:160px;line-height:24px;}


.pop_width300 {float:left;position:absolute;width:300px;}
.pop_width300_content {float:left;width:280px;padding:10px; background-color:#fff;border:3px #666 solid;text-align:left;}
.pop_width300_content .div280 {float:left;width:280px;color:#999;line-height:18px;}
.pop_width300_content .div280 span {color:#8b451b;}
.pop_width300_content .div280center {float:left;width:280px;text-align:center;}
.pop_width300_content .div45 {float:left;width:45px;color:#999;line-height:18px;}
.pop_width300_content .div225 {float:left;width:225px;color:#999;line-height:18px;}

.pop_width300_title {float:left;width:290px;padding:0 5px; background-color:#fff;border:3px #666 solid;border-bottom:0;text-align:left;}
.pop_width300_title a {float:right;padding:5px 0 0 0;cursor:pointer;}
.pop_width300_content2 {float:left;width:280px;padding:5px 10px 20px 10px; background-color:#fff;border:3px #666 solid;border-top:0;text-align:left;}
.pop_width300_content2 .div30 {float:left;width:25px;text-align:right;padding:0 5px 0 0;}
.pop_width300_content2 .div250_g {float:left;width:250px;color:#345830;line-height:18px;padding:1px 0 0 0;}
.pop_width300_content2 .div250_r {float:left;width:250px;color:#5c2e22;line-height:18px;padding:1px 0 0 0;}
.pop_width300_content2 .div250_y {float:left;width:250px;color:#d2890a;line-height:18px;padding:1px 0 0 0;}


.pop_width800 {float:left;position:absolute;width:792px;height:492px;border:4px solid #666; }
.pop_width800_left {float:left;width:170px;height:472px;padding:20px 0 0 0;background-image: url(../imgs/feedback_leftbg.gif);background-repeat: repeat-y;background-position: left;}
.pop_width800_left li {float:left;width:160px;text-align:left;padding:0 0 0 10px;}
.pop_w800_l_title {float:left;font-size:24px;line-height:30px;color:#275f7c;}
.pop_w800_l_select {float:left;font-size:12px;line-height:30px;color:#275f7c;background-image: url(../imgs/feedback_leftbg_select.gif);background-repeat: repeat-y;background-position: left;cursor:pointer;}
.pop_w800_l_notselect {float:left;font-size:12px;line-height:30px;color:#275f7c;cursor:pointer;}
.pop_w800_l_notselect:hover {background-image: url(../imgs/feedback_leftbg_select.gif);background-repeat: repeat-y;background-position: left;3;}
.pop_width800_right {float:left;width:622px;height:472px;padding:20px 0 0 0;background-color: #FFFFFF;}
.pop_width800_right li {float:left;width:582px;text-align:left;padding:0 20px;}
.pop_width800_right li span {float:left;width:80px;text-align:left;}
.pop_w800_r_word_bule {float:left;font-size:14px;line-height:18px;color:#275f7c;}
.pop_w800_r_word_link {float:left;font-size:13px;line-height:24px;color:#275f7c;}
.pop_w800_r_word_link a:link {color:#2e82bd; text-decoration:none;}
.pop_w800_r_word_link a:visited {color:#2e82bd;text-decoration:none;}
.pop_w800_r_word_link a:hover {color: #2e82bd;text-decoration:underline;}
.pop_w800_r_word_link a:active {color: #2e82bd;text-decoration: none;}
.pop_w800_r_word_black {float:left;font-size:14px;line-height:30px;color:#275f7c;}
.pop_w800_r_word_bule_big {float:left;font-size:16px;line-height:36px;color:#275f7c;}



/*pop email invite*/
.assign_admin{width:400px; background-color:#fff;border:4px solid #666666;display:none;}
.assign_admin .pop_title{width:400px;height:30px;line-height:30px;font-weight:bold;background-image: url(../imgs/pop_title_bg.gif);background-repeat: repeat-x;background-position: top;}
.assign_admin .title{float:left;width:260px;text-align:left;height:30px;}
.assign_admin .close{float:right;width:30px;padding:8px;}

.assign_admin .pop_reply{width:380px;padding:10px}
.assign_admin .pop_navigation{width:400px;height:26px;padding:6px 0 0 0;background-color:#f4f4f4;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.assign_admin .pop_navigation .lia{float:left;width:10px;height:26px;}
.assign_admin .pop_navigation .lib{float:left;width:auto;border:1px solid #ccc;border-bottom:1px solid #fff;height:22px;line-height:22px;background-color:#fff;padding:2px 10px 0 10px; cursor:pointer; margin-top:1px;color:#666;}
.assign_admin .pop_navigation .lic{float:left;width:auto;border:1px solid #ccc;height:22px;line-height:22px;background-color:#eee;padding:2px 10px 0 10px; cursor:pointer; margin-top:1px;color:#999;}
.assign_admin .pop_navigation .lic:hover{float:left;width:auto;border:1px solid #ccc;border-bottom:1px solid #fff;height:22px;line-height:22px;background-color:#fff;padding:2px 10px 0 10px; cursor:pointer; margin-top:1px;color:#666;}
.assign_admin .pop_navigation .lid{float:left;width:5px;height:26px;}

.assign_admin .pop_message{width:360px;height:auto;padding:10px;background-color:#fff;text-align:left;}
.assign_admin .pop_message span{font-weight:bold;color:#333;}
.assign_admin .pop_message .words{width:340px;line-height:24px;text-align:left;}
.assign_admin .pop_message .words_note{width:340px;line-height:18px;text-align:left;font-size:11px;color:#999;}
.assign_admin .pop_message .words_note span{width:340px;line-height:18px;text-align:left;font-size:11px;color:#663333;}
.assign_admin .pop_message .words .words_left{width:100px;float:left;}
.assign_admin .pop_message .words .words_right{width:240px;float:right;}
.assign_admin .pop_message .words .words_option{width:340px;float:left;}
.assign_admin .pop_message .words .words_select_tab{width:340px;height:240px;padding:5px;float:left;border:1px solid #ccc; overflow-y:scroll;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_diva{width:30px;height:24px;float:left;line-height:24px;border-bottom:1px dashed #ddd;overflow:hidden;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divb{width:130px;height:24px;float:left; overflow:hidden;line-height:24px;border-bottom:1px dashed #ddd;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divc{width:160px;height:24px;float:left; overflow:hidden;line-height:24px;border-bottom:1px dashed #ddd;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_diva2{width:30px;height:36px;float:left;line-height:36px;border-bottom:1px dashed #ddd;overflow:hidden;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divb2{width:50px;height:36px;float:left; overflow:hidden;line-height:36px;border-bottom:1px dashed #ddd;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divb2 img{height:30px;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divc2{width:240px;height:36px;float:left; overflow:hidden;line-height:36px;border-bottom:1px dashed #ddd;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_diva3{width:156px;height:36px;float:left; overflow:hidden;line-height:36px;border:1px solid #ddd; cursor:pointer; margin: 0 3px 3px 0;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_diva3:hover{ background-color:#f4f4f4;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divb3{width:32px;height:30px;float:left; overflow:hidden;padding:3px;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divb3 img{height:30px;}
.assign_admin .pop_message .words .words_select_tab .words_s_t_divc3{width:118px;height:36px;float:left; overflow:hidden;line-height:18px;}
.assign_admin .pop_message .email{width:340px;height:30px;}
.assign_admin .pop_message .btn{width:340px;text-align:center; height:22px;padding:8px 0 0 0;}




/*top*/
.navigation_logo {float:left;height:65px;max-width:210px;padding:0 20px 5px 0;text-align:left;}
.navigation_logo .network_logo {float:left;height:65px;width:55px;padding:5px 5px 5px 0;}
.navigation_logo .network_logo img {max-height:55px;max-width:55px;}
.navigation_logo .company_name {float:left;height:14px;width:150px;color:#2e82bd;font-size:12px;line-height:12px;word-wrap:break-word;padding:2px 0 5px 0;text-align:left;}
.navigation_logo .company_name span {color:#7d3a2d;}
.navigation_logo .network_name {float:left;width:150px;max-height:24px;overflow:hidden;color:#663333;font-size:13px;line-height:13px;font-weight:bold;padding:15px 0 4px 0;text-align:left;}
.navigation_logo_words {float:left;height:49px;width:220px;text-align:left;padding:16px 0 5px 40px;font-size:12px;color:#999;background-image: url(../imgs/logo_words.gif);background-repeat: no-repeat;	background-position: left top;}
.navigation_search {float:left;height:26px;width:487px;padding: 25px 0 19px 0px;}
.navigation_shortcuts {float:right; height:70px;}
.navigation_message_notice{ position:absolute;float:right;text-align:right;z-index:10009;margin-top:10px;width:40px;}
.navigation_message_n_c{float:right;text-align:right;font-size:12px;line-height:12px;color:#fff;background-color:#F60;padding:2px 4px 3px 4px;}

.navigation_login {float:right;width:360px;height:50px;padding:15px 0 5px 0;}
.navigation_login .div_left {float:left;width:290px;height:20px;padding:0 5px 0 0;line-height:18px;text-align:right;}
.navigation_login .div_left span {float:left;padding:0;}
.navigation_login .div_right {float:right;height:20px;padding:0;}
.navigation_login .div_right2 {float:right;width:300px;padding:6px 0 0 0;color:#999;text-align:right;line-height:20px;}
.navigation_login .div_right2 a:link {color:#2e82bd; text-decoration:none;}
.navigation_login .div_right2 a:visited {color:#2e82bd;text-decoration:none;}
.navigation_login .div_right2 a:hover {color: #2e82bd;text-decoration:underline;}
.navigation_login .div_right2 a:active {color: #2e82bd;text-decoration: none;}
.navigation_login_option {float:right;color:#2e82bd;font-size:14px;cursor:pointer;padding:10px 50px 0 0;line-height:16px;}
.navigation_login_option:hover {background-image: url(../imgs/icon/blue_arrow.png);background-repeat: no-repeat;background-position: 50px 14px;}
.navigation_login_option a:link {color:#2e82bd; text-decoration:none;}
.navigation_login_option a:visited {color:#2e82bd;text-decoration:none;}
.navigation_login_option a:hover {color: #2e82bd;text-decoration:none;}
.navigation_login_option a:active {color: #2e82bd;text-decoration: none;}

.navi_search_select{float:left;background-image: url(../imgs/navi_search_select.gif);background-repeat: no-repeat;background-position: left top;width:26px;height:21px;padding:3px 21px 2px 10px ;cursor:pointer;}
.navi_search_s_down {position:absolute;width:160px;height:auto;z-index:9800; background-color:#fff; margin-top:26px;}
.navi_s_s_down_bg_top {position:absolute;width:160px;height:5px;z-index:9801;margin-top:0px;} 
.navi_s_s_down_bg_bottom {position:absolute;width:160px;height:5px;z-index:9802;margin-top:-5px;}
.navi_s_s_down_border {border:1px #129fcc solid;border-bottom:0;border-top:0;width:158px;}
.navi_s_s_down_unit {border-top:1px #cfd8de solid;height:29px;width:158px;text-align:left;line-height:29px;color:#819aab; cursor:pointer;}
.navi_s_s_down_unit:hover {background-image: url(../imgs/navigation_search_down_bg.gif);background-repeat: no-repeat;background-position: center top;color:#344f62;}
.navi_s_s_down_unit div {float:left;padding-left:10px;}
.navi_s_s_down_unit .divicon {height:29;padding-top:4px;padding-bottom:4px;}

.navi_search_input{float:left;background-image: url(../imgs/navi_search_bg.gif);background-repeat: repeat-x;background-position: center;width:400px;height:25px;padding:1px 0 0 0;}
.navi_search_input_textarea{float:left;background-image: url(../imgs/navi_search_bg.gif);background-repeat: repeat-x;background-position: center;width:400px;height:22px;padding:0 10px;font-size: 12px;line-height:22px;color: #344f62;border:0;}
.navi_search_btn {float:left;width:30px;height:26px; cursor:pointer;}

.navi_short_unit {float:left;width:40px;height:70px;padding:0 5px 0 0; cursor:pointer;}

.navigation_left {float:left; position:relative;z-index:9000;}
.navigation_left li {float:left;}
.navigation_left_diva {float:left;height:36px;line-height:36px;padding:0 20px 0 0;color:#fff;cursor:pointer;}
.navigation_left_diva:hover{color: #ddecf6;}
.navigation_left_diva_down {float:left;position:absolute;z-index:9000;margin-top:36px;line-height:36px;background-color:#566996;}
.navigation_left_diva_down ul li {float:left;z-index:9001;clear:both;display:block;}
.navigation_left_diva_down ul li:hover {z-index:9001;background-color:#4b5b82;color:#fff;}
.navigation_l_d_d_a {float:left;z-index:9001;height:30px;width:120px;text-align:left;padding:0 30px 0 10px;line-height:30px;color:#fff;cursor:pointer;}

.navigation_right {float:right;height:36px;line-height:36px;}
.navigation_right a {padding:0 20px 0 0;}
.navigation_right a:link {color:#fff; text-decoration:none;}
.navigation_right a:visited {color:#fff;text-decoration:none;}
.navigation_right a:hover {color: #ddecf6;text-decoration:none;}
.navigation_right a:active {color: #fff;text-decoration: none;}


.navi_short_pop {position:absolute;width:310px;height:auto;z-index:9900; margin-top:70px;margin-left:670px;}
.navi_s_pop_300 {float:right;width:300px;border:3px #44acd3 solid;}

/*.navi_s_p_300_title {float:left;width:290px;height:33px;padding:0 0 0 10px;line-height:33px;font-weight:bold;color:#fff;font-size:13px;text-align:left;background-image: url(../imgs/navi_s_p_300_title_bg.gif);background-repeat: repeat-x;background-position: top; cursor:pointer;}
.navi_s_p_300_title:hover {background-image: url(../imgs/navi_s_p_300_title_bg2.gif);}
.navi_s_p_300_title span {float:right;padding:13px 10px 0 0;}*/

.navi_s_p_300_title {float:left;width:280px;padding:10px;font-weight:bold;color:#206493;font-size:12px;text-align:left;background-color:#fff;border-top:1px #ccc solid;cursor:pointer;}
.navi_s_p_300_title:hover {background-color:#f4f4f4;}
.navi_s_p_300_title span {float:right;padding:3px 0 0 0;}
.navi_s_p_300_title .div_word_ashy {float:left;color:#bbbbbb;font-weight:normal;width:270px;}

.navi_s_p_300_title1 {float:left;width:280px;padding:10px;background-color:#fff;color:#999;border-top:1px #efefef solid;text-align:left;}
.navi_s_p_300_title1 span {font-weight:bold;color:#666;}
.navi_s_p_300_title2  {float:left;width:280px;padding:10px;background-color:#fff;color:#999;border-top:1px #efefef solid;text-align:left;}
.navi_s_p_300_title2 span {font-weight:bold;color:#666;}
.navi_s_p_300_title2 a {float:right;padding:0 10px 0 0;color:#7d3a2d; font-weight:bold;cursor:pointer;}
.navi_s_p_300_title2 a:link {color:#7d3a2d; text-decoration:none;}
.navi_s_p_300_title2 a:visited {color:#7d3a2d;text-decoration:none;}
.navi_s_p_300_title2 a:hover {color: #7d3a2d;text-decoration:underline;}
.navi_s_p_300_title2 a:active {color: #7d3a2d;text-decoration: none;}
.navi_s_p_300_content {float:left;width:280px;padding:10px;background-color:#fff;}
.navi_s_p_3_c_280 {float:left;width:280px;color:#999;font-size:12px;line-height:24px;text-align:left;}
.navi_s_p_3_c_280_62 {float:left;width:62px;color:#4989b5;text-align:center;line-height:24px;}
.navi_s_p_3_c_280_10 {float:left;width:10px;height:62px;}
.navi_s_p_3_c_280_134 {float:left;width:134px;color:#4989b5;text-align:center;line-height:24px;}
.navi_s_p_3_c_280_278 {float:left;width:278px;color:#4989b5;text-align:center;line-height:24px;padding:0 0 20px 0;}


.navi_s_p_3_c_280p {float:left;width:280px;text-align:left;padding:0 0 10px 0;}
.navi_s_p_3_c_280p .photo {float:left;width:60px;padding:0 10px 0 0;overflow:hidden;}
.navi_s_p_3_c_280p .photo img {width:60px;}
.navi_s_p_3_c_280p .detail {float:left;width:210px;}
.navi_s_p_3_c_280p .detail .title {float:left;width:210px;}
.navi_s_p_3_c_280p .detail .title a:link {color:#4989b5; text-decoration:none;}
.navi_s_p_3_c_280p .detail .title a:visited {color:#4989b5;text-decoration:none;}
.navi_s_p_3_c_280p .detail .title a:hover {color: #4989b5;text-decoration:underline;}
.navi_s_p_3_c_280p .detail .title a:active {color: #4989b5;text-decoration: none;}
.navi_s_p_3_c_280p .detail .words {float:left;width:210px;color:#999;font-size:12px;line-height:12px;padding:0;}
.navi_s_p_3_c_280p .detail .words a {padding:0 20px 0 0;}
.navi_s_p_3_c_280p .detail .words a:link {color:#4989b5; text-decoration:none;}
.navi_s_p_3_c_280p .detail .words a:visited {color:#4989b5;text-decoration:none;}
.navi_s_p_3_c_280p .detail .words a:hover {color: #4989b5;text-decoration:underline;}
.navi_s_p_3_c_280p .detail .words a:active {color: #4989b5;text-decoration: none;}



/*bottom*/
.bottom_option {float:left;width:100%;padding:10px 0 0 0;color:#999;border-top:1px #ccc solid;text-align:left;}
.bottom_option span {padding:0 10px;}
.bottom_option a:link {color:#37647a; text-decoration:none;}
.bottom_option a:visited {color:#37647a;text-decoration:none;}
.bottom_option a:hover {color: #37647a;text-decoration:underline;}
.bottom_option a:active {color: #37647a;text-decoration: none;}
.bottom_copyright {float:left;width:100%;color:#666;text-align:left;}


/*middle-top*/
.left_top {float:left;width:100%;padding:20px 0 0 0;}
.left_top_readmore {float:left;width:96%;height:24px;padding:0;font-size:14px;color:#999;text-transform:uppercase;text-align:center;cursor:pointer;}
.left_top_readmore:hover {color:#4989b5;}
.left_top_icon {float:right;z-index:1000;margin-top:-24px;height:24px;font-size:14px;padding:0 10px 0 20px;color:#5b711c;font-weight:bold;text-transform:uppercase;border-left:1px #efefef solid;}
.left_top_icon a:link {color:#5b711c; text-decoration:none;}
.left_top_icon a:visited {color:#5b711c;text-decoration:none;}
.left_top_icon a:hover {color: #5b711c;text-decoration:underline;}
.left_top_icon a:active {color: #5b711c;text-decoration: none;}

.right_top {float:left;width:100%;padding:20px 0 5px 0;font-size:14px;color:#5b711c;line-height:24px;font-weight:bold;text-transform:uppercase;text-align:right;}
.right_top a:link {color:#5b711c; text-decoration:none;}
.right_top a:visited {color:#5b711c;text-decoration:none;}
.right_top a:hover {color: #5b711c;text-decoration:underline;}
.right_top a:active {color: #5b711c;text-decoration: none;}


/*middle-bottom ads*/
.bottom_ads_all {margin:0 auto;width:700px;padding:0 140px;}
.bottom_ads {float:left;width:680px;height:90px;padding:10px; background-color:#fff;text-align:left;}
.bottom_ads_a {float:left;width:330px;padding:0 5px;}
.bottom_ads_a .photo {float:left;width:60px;padding:0 10px 0 0;}
.bottom_ads_a .photo img {width:60px;}
.bottom_ads_a .detail {float:left;width:260px;}
.bottom_ads_a .detail .title {float:left;width:260px;font-size:14px;}
.bottom_ads_a .detail .title a:link {color:#4989b5; text-decoration:none;}
.bottom_ads_a .detail .title a:visited {color:#4989b5;text-decoration:none;}
.bottom_ads_a .detail .title a:hover {color: #4989b5;text-decoration:underline;}
.bottom_ads_a .detail .title a:active {color: #4989b5;text-decoration: none;}
.bottom_ads_a .detail .words {float:left;width:260px;line-height:14px;color:#999;}
.bottom_ads_more {float:left;width:670px;padding:5px;}
.bottom_ads_more a:link {color:#4989b5; text-decoration:none;}
.bottom_ads_more a:visited {color:#4989b5;text-decoration:none;}
.bottom_ads_more a:hover {color: #4989b5;text-decoration:underline;}
.bottom_ads_more a:active {color: #4989b5;text-decoration: none;}

/*diversity table*/
.diversity_main {float:left;padding:0 0 0 120px;}
.diversity_table {float:left;}
.diversity_table ul li {clear:both;float:left;width:auto;}
.diversity_title {float:left;font-size:11px;line-height:14px;color:#666;}
.diversity_title span {color:#666;padding:0 20px 0 0;}
.diversity_notice {float:left;font-size:11px;font-weight:bold;line-height:14px;color:#8b451b;}
.diversity_input {float:left;width:100%;}
.diversity_input_table {float:left;width:350px;border:1px solid #ccc;padding:9px;margin-bottom:5px;}
.diversity_input_table div {float:left;}
.diversity_input_table_title {float:left;width:120px;padding:0 10px 0 0;color:#666;}


/*404*/
.p404_700 {float:left;width:659px;height:auto;padding:20px 20px 100px 20px;text-align:left;border-left:1px #ccc solid;border-bottom:1px #bbb solid;background-color:#fff;background-image: url(../imgs/p404_bg.gif);background-repeat: no-repeat;background-position: center bottom;}
.div700 {margin:0 auto;height: auto;width: 700px;}
.p404_700_left {float:left;padding:40px 40px 40px 40px;text-align:center;}
.p404_700_right {float:left;padding:45px 0 40px 0;width:480px;}
.p404_700_right .w1 {float:left;width:480px;font-size:18px;color:#4989b5;line-height:30px; }
.p404_700_right .w2 {float:left;width:480px;font-size:12px;color:#999; }
.p404_copyright {float:left;width:100%;color:#666;text-align:center;}


